{% extends 'crowler/index.html' %}
{% block news %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Панель статистики
                        <small>Статистика по источникам</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-globe"></i> Статистика по источникам
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>Источники</h3>
                        </div>
                        <div class="panel-body">
                            {% for source in sources %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#source_{{ source.id }}">{{ source.name }}</a>
                                        </h4>
                                    </div>
                                    <div class="list-group collapse" id="source_{{ source.id }}">

                                        <div class="list-group-item">
                                            <a class="badge" href="#">
                                                XML <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                            <span class="badge">нн в{{ source.news_set.all.}}</span>
                                            <i class="fa fa-fw fa-globe"></i> Новстей не выгружено
                                        </div>

                                        <div class="list-group-item">
                                            <a class="badge" href=#>
                                                XML<i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                            <span class="badge">сн тс</span>
                                            <i class="fa fa-fw fa-globe"></i> Собрано новостей за текущие сутки
                                        </div>

                                        <div class="list-group-item">
                                            <a class="badge" href=#>
                                                XML<i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                            <span class="badge">сн пс</span>
                                            <i class="fa fa-fw fa-globe"></i> Собрано новостей за предыдущие сутки
                                        </div>

                                        <div class="list-group-item">
                                            <a class="badge" href=#>
                                                XML<i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                            <span class="badge">{{ source.news_set.all.count }}</span>
                                            <i class="fa fa-fw fa-globe"></i> Всего новостей в базе
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
                <!-- Last news -->
                <div class="col-lg-6">


                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
{% endblock %}