{% extends 'crowler/index.html' %}
{% block news %}
        {% load helpers %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Панель статистики
                        <small>Статистика по источникам</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-globe"></i> Статистика по источникам
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            {#        modal         #}
            <div id="chartModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">График по дням</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <p id="graf"></p>
            <div class="row">
                <div class="col-lg-12">
                    <h2>Текущие показатели по источникам</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Источник</th>
                                <th>Всего</th>
                                <th>Последняя</th>
                                <th>Как долго нет</th>
{#                                <th>Граффик</th>#}

                            </tr>
                            </thead>
                            <tbody>
                            {% for source in sources %}
                                {% datte_now source.name %}
                                {% with date=source.last_news.date_post%}
                                <tr>
                                    <td>{{ source.name }}</td>
                                    <td>{{ source.news_set.count }}</td>
                                    <td>{{ date }}</td>
                                    <td>{{ date|timesince }}</td>
                                    <td><a class="badge" href=# data-toggle="modal"
                                           onclick="makeGraf({{ source.id }})">
                                        График <i class="fa fa-arrow-circle-right"></i>
                                    </a></td>
                                </tr>
                                {% endwith %}
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

            <script>
                var sourcesData = {
                {% for source in sources %}
                    {{ source.id }}: [
                    {% for k, v in source.chart_data.items %}
{#                        {date: "{{  d.day | date:'Y-m-d' }}", count: {{ d.count }}},#}
                        {date: "{{ k }}", count: {{ v }}},
                    {% endfor %}

                ],

                {% endfor %}

                }
                function makeGraf(source_id) {
                    document.getElementById('graf').innerHTML = '';
                    new Morris.Line({
                        // ID of the element in which to draw the chart.
                        element: 'graf',
                        // Chart data records -- each entry in this array corresponds to a point on
                        // the chart.
                        data: sourcesData[source_id]
                        ,

                        // The name of the data record attribute that contains x-values.
                        xkey: 'date',
                        // A list of names of data record attributes that contain y-values.
                        ykeys: ['count'],
                        // Labels for the ykeys -- will be displayed when you hover over the
                        // chart.
                        labels: ['Новостей'],
                        resize: true
                    });


                }
            </script>
        </div>

    </div>
    <!-- /.container-fluid -->

{% endblock %}