{% block sources %}
<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#source_{{ source.id }}">{{ source.name }}</a>
                                        </h4>
                                    </div>
                                    <div class="list-group collapse" id="source_{{ source.id }}">

                                        <div class="list-group-item">
                                            <span class="badge">нн в{{ source.news_set.all}}</span>
                                            <i class="fa fa-fw fa-globe">Дата последней новости</i>
                                        </div>

                                        <div class="list-group-item">
                                            <a class="badge" href=#>
                                                XML<i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                            <span class="badge">сн тс</span>
                                            <i class="fa fa-fw fa-globe"></i> Собрано новостей за текущие сутки
                                        </div>

                                        <div class="list-group-item">
                                            <a class="badge" href=#>
                                                XML<i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                            <span class="badge">сн пс</span>
                                            <i class="fa fa-fw fa-globe"></i> Собрано новостей за предыдущие сутки
                                        </div>

                                        <div class="list-group-item">
                                            <a class="badge" href=#>
                                                XML<i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                            <span class="badge">{{ source.news_set.all.count }}</span>
                                            <i class="fa fa-fw fa-globe"></i> Всего новостей в базе
                                        </div>

                                    </div>
                                </div>
{% endblock %}