{% block export_html_simple_group %}
    {% load staticfiles %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Smimonitor</title>
    </head>
    <body>

    <div align="center">
{#        <img src="{% static "crowler/pics/MD.png" %}" alt="Логотип MD аналитика">#}
        {% for source_query in sc %}
            <h1>Отчет по запросу: {{ source_query.name }}</h1>
            Всего упоминаний: {{ source_query.approved_news.count }}
            <table id="sc_{{ source_query.id }}" border="1" cellpadding="" width="80%">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Источник</th>
                    <th>Ссылка на источник</th>
                    <th>Заголовок</th>
                    <th>Полный текст</th>

                </tr>
                </thead>
                <tbody>
                {% for n in source_query.approved_news.all|dictsortreversed:'date_post' %}
                    <tr id="table_news_{{ n.id }}">
                        <td style="font-size: small">{{ n.date_post }}</td>
                        <td>{{ n.source.name }}</td>
                        <td><a target="_blank" href="{{ n.url }}">Источник</a></td>
                        <td>{{ n.title }}</td>
                        <td><a href="#text_{{ n.id }}">К тексту</a></td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>

        {% endfor %}


    </div>
    <table>

    </table>
    <br>
    <div align="center">
        <div align="center" style="width: 75%">
        {% for source_query in sc %}
            <h1>Полный текст к запросу : {{ source_query.name }}</h1>
            Всего упоминаний: {{ source_query.approved_news.count }}

            {% for n in source_query.approved_news.all %}
                <p id="text_{{ n.id }}">
                    {{ n.date_post }} / {{ n.source.name }} <br>
                    <a target="_blank" href="{{ n.url }}">Перейти на сайт источник</a> /
                    <a href="#table_news_{{ n.id }}">Вернуться к списку</a>
                </p>
                <p>
                    <strong>
                        {{ n.title }}
                    </strong>
                </p>
                <p>
                    {{ n.text }}
                </p>
                <hr>



            {% endfor %}


        {% endfor %}
    </div>
    </div>


    </body>
    </html>

{% endblock %}