{% block export_html_simple_all %}
    {% load search_extras %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Smimonitor</title>
    </head>
    <body>
    {% with source_query.get_all_news_set_highlight as set %}
        {% with set|get_dict_value:'news_list' as news %}
            {% with set|get_dict_value:'highlights_title' as highlights_title %}
                {% with set|get_dict_value:'highlights_text' as highlights_text %}


                    <div align="center">
                        <div style="width: 80%;  align-self: center; align-content: center">
                            <div align="center">

                                <img align="center" src="data:image/png;base64,{{ chart }}"/>
                            </div>
                        </div>


                        {#        <img src="{% static "crowler/pics/MD.png" %}" alt="Логотип MD аналитика">#}
                        <h1>Отчет по запросу: {{ source_query.name }}</h1>
                        Всего упоминаний: {{ source_query.approved_news.count }}
                        <table id="sc_{{ source_query.id }}" border="1" cellpadding="" width="80%">
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Источник</th>
                                <th>Ссылка на источник</th>
                                <th>Заголовок</th>
                                <th>Полный текст</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for n in news %}
                                <tr id="table_news_{{ n.id }}">
                                    <td style="font-size: small">{{ n.date_post }}</td>
                                    <td>{{ n.source.name }}</td>
                                    <td><a target="_blank" href="{{ n.url }}">Источник</a></td>
                                    <td>{{ n.title }}</td>
                                    <td><a href="#text_{{ n.id }}">К тексту</a></td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>


                    </div>
                    <table>

                    </table>
                    <br>
                    <div align="center">
                        <div align="center" style="width: 75%">
                            <h1>Полный текст к запросу : {{ source_query.name }}</h1>
                            Всего упоминаний: {{ source_query.approved_news.count }}

                            {% for n in news %}
                                <p id="text_{{ n.id }}">
                                    {{ n.date_post }} / {{ n.source.name }} <br>
                                    <a target="_blank" href="{{ n.url }}">Перейти на сайт источник</a> /
                                    <a href="#table_news_{{ n.id }}">Вернуться к списку</a>
                                </p>
                                {% autoescape off %}
                                    <p>
                                        <strong>
                                            {% replace_highlight n.title highlights_title|get_dict_value:n.id %}
                                        </strong>
                                    </p>
                                    <p>
                                        {% replace_highlight n.text highlights_text|get_dict_value:n.id %}
                                    </p>
                                    <hr>

                                {% endautoescape %}


                            {% endfor %}


                        </div>
                    </div>
                {% endwith %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
    </body>
    </html>
    </body>
    </html>

{% endblock %}