{% block head %}



    <head>
        {% include 'crowler/head/title.html' %}
        {% include 'crowler/head/meta.html' %}

        {% load staticfiles %}
        {#        <script#}
        {#  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
        {#  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="#}
        {#  crossorigin="anonymous"></script>#}
        <script src="{% static 'crowler/js/jquery.js' %}"></script>

        {#                <script src="{% static 'catalog/js/tabulator.js' %}"></script>#}
        <!-- Bootstrap Core CSS -->
        <link href='{% static "crowler/css/bootstrap.min.css" %}' rel="stylesheet">

        <!-- Custom CSS -->
        <link href='{% static "crowler/css/sb-admin.css" %}' rel="stylesheet">


        <!-- Custom Fonts -->

        <link href='{% static "crowler/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">

        <!-- Bootstrap Core JavaScript -->
        <script src={% static "crowler/js/bootstrap.min.js" %}></script>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        <!-- Tables -->
        {#        <link href='{% static "crowler/css/DataTable.css" %}' rel="stylesheet">#}
        {#        <script type="text/javascript"#}
        {#                src="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.15/fh-3.1.2/r-2.1.1/datatables.min.js"></script>#}

        {#        <link rel="stylesheet" type="text/css"#}
        {#              href="https://cdn.datatables.net/v/dt/pdfmake-0.1.27/dt-1.10.15/b-1.4.0/b-colvis-1.4.0/b-html5-1.4.0/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.3.0/r-2.1.1/rr-1.2.0/se-1.2.2/datatables.min.css"/>#}
        <link href='{% static "crowler/css/datatable.css" %}' rel="stylesheet" type="text/css">
        <link href='{% static "crowler/css/jquery.datetimepicker.min.css" %}' rel="stylesheet" type="text/css">

        <script type="text/javascript"
                src="https://cdn.datatables.net/v/dt/pdfmake-0.1.27/dt-1.10.15/b-1.4.0/b-colvis-1.4.0/b-html5-1.4.0/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.3.0/r-2.1.1/rr-1.2.0/se-1.2.2/datatables.min.js"></script>

        {#        <link rel="stylesheet" type="text/css"#}
        {#              href="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.15/fh-3.1.2/r-2.1.1/datatables.min.css"/>#}


        <script src="{% static 'crowler/js/jszip.min.js' %}"></script>
        <script src="{% static 'crowler/js/smimonitor.js' %}"></script>
        <script src="{% static 'crowler/js/jquery.serialize-object.min.js' %}"></script>
        <script src="{% static 'crowler/js/jquery.datetimepicker.full.min.js' %}"></script>
        <script src="{% static 'crowler/js/jquery-dateFormat.min.js' %}"></script>
        <script src="{% static 'crowler/js/FileSaver.min.js' %}"></script>
        <!-- smimonitor CSS -->
        <link href='{% static "crowler/css/smimonitor.css" %}' rel="stylesheet" type="text/css">

    </head>
{% endblock %}