{% block news_list %}
    {% load search_extras %}
    {#    <div align="center">#}
    <div align="center">
        <h3>Найденные новости</h3>
        Найдено: {{ total }} показано {{ news_list.count }}
    </div>


    <table id="data-table" class="table table-responsive">
        <thead>
        <tr>
            <th>id</th>
            <th>Выгружено</th>
            <th>Источник</th>
            <th>Заголовок</th>
            <th>Дата публикации</th>
        </tr>
        </thead>
        <tbody>
        {% for news in news_list %}
            <tr id="row_{{ news.id }}">
                <td>{{ news.id }}</td>
                {% if request.user in news.unloaded %}
                    <td>Да</td>
                {% else %}
                    <td>Нет</td>

                {% endif %}
                <td>{{ news.source.name }}</td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#modal_{{ news.id }}">
                        {{ news.title }}
                    </a>
                </td>
                <td class="td-small">{{ news.date_post|date:"Y/m/d-H:m" }}</td>

            </tr>

        {% endfor %}


        </tbody>
    </table>
    {#    </div>#}
    {% for news in news_list %}
        <div id="modal_{{ news.id }}" class="col-lg-12 modal fade">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i></h3>
                </div>
                <div class="panel-body">
                    <div align="center">

                        <button type="button" class="btn-sm btn-danger" data-dismiss="modal">
                            Закрыть
                        </button>
                    </div>

                    <h3>Подробно</h3>
                    <h4>{{ news.source.name }}</h4>
                    Дата публикации {{ news.date_post }}
                    Дата добавления в базу {{ news.date_add }}
                    {% autoescape off %}
                        <h3>{% replace_highlight news.title highlights_title|get_dict_value:news.id %}</h3>
                        <p>{% replace_highlight news.text highlights_text|get_dict_value:news.id %}</p>
                    {% endautoescape %}
                    <p>Ссылка на источник <a href="{{ news.url }}">{{ news.url }}</a></p>

                </div>

            </div>
        </div>


    {% endfor %}


    <script>
        $('#data-table').DataTable(
            {
                scrollY: '50vh',
                scrollCollapse: true,
                paging: false
            }
        );

    </script>

{% endblock %}