{#{% extends 'search/debug.html' %}#}
{% block news_found_list_mark %}
    {% load search_extras %}


    {#  <form action="" method="post" enctype="multipart/form-data">#}
    <div align="center"><h4>Групповая обработка новостей</h4></div>
    <div class="panel-success">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#add_news">Перемещение в проекты\темы\рубрики</a>
        </div>
        <div id="add_news" class="panel-collapse collapse">
            <div class="panel-body">
                <form>
                    {% csrf_token %}
                    <div class="row">
                        <div id="projects_l_" class="col-md-3">
                            <label for="#project_s_">Проект:</label>
                            <select name="project" id="project_s_" onchange=load_themes('')></select>
                        </div>
                        <div id="themes_l_" class="col-md-3" hidden>
                            <label for="#theme_s_">Тема:</label>
                            <select name="theme" id="theme_s_" onchange="load_rubrics('')"></select>
                        </div>
                        <div id="rubrics_l_" class="col-md-3" hidden>
                            <label for="#rubric_s_">Рубрика:</label>
                            <select name="rubric" id="rubric_s_"></select>
                        </div>
                        <div class="col-md-3">
                            {#                        <button class="btn btn-danger btn-xs" onclick="add_news('', '#saved_search_result')">#}
                            <button class="btn btn-danger btn-xs js-add-news-ptr">
                                Прикрепить
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <script>
            load_projects('');
            $('.js-add-news-ptr').on('click', function () {
                event.preventDefault();
                var f = $(this).closest('form');
                var d = f.serializeObject();
                var table = window['dt'];
                var rows = table.rows('.selected');
                var news_ids = rows.ids().toArray();
                d.news = news_ids;
                return $.ajax({
                    dataType: "json",
                    url: "/api/query/add_ptr/",
                    type: "put",
                    data: d,
                    error: function (data) {
                        alert('Ошибка добавления новостей \n Ошибка: ' + data.responseJSON.detail)
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                    },
                    success: function (data) {
                        console.log(data);
                        rows.remove().draw();
                        table_to.rows.add(data).draw();
                        alert('Новость сохранена');
                    }
                })
            });
        </script>
    </div>

    <div align="center">
        <h4>Найденные новости</h4>
        Наименование запроса:<strong>"{{ query.name }}"</strong> /
        Найдено: {{ total }} показано {{ news_list.count }}
    </div>


    <table id="data-table" class="table table-responsive">
        <thead>
        <tr>
            {#            <th><i class="fa fa-check-square-o" aria-hidden="true"></i></th>#}
            <th>id</th>
            <th>Статус</th>
            <th>Источник</th>
            <th>Заголовок</th>
            <th>Дата публикации</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% with view_ids as viewed_news %}
            {% with del_ids as deleted_news %}
                {% with app_ids as approved_news %}

                    {% for news in news_list %}
                        <tr
                                {% if news.id in deleted_news %}
                                    class="tr-red"
                                {% elif news.id in approved_news %}
                                    class="tr-green"
                                {% elif news.id in viewed_news %}
                                    class="tr-grey"
                                {% else %}
                                    class="tr-blue"
                                {% endif %}
                                    id="row_{{ news.id }}">
                            {#                            <td><input id="news_{{ news.id }}" name="news_{{ news.id }}" type="checkbox"#}
                            {#                                       value={{ news.id }}></td>#}
                            <td>{{ news.id }}</td>
                            <td>
                                {% if news.id in deleted_news %}
                                    DELETED
                                {% elif news.id in approved_news %}
                                    APPROVED
                                {% elif news.id in viewed_news %}
                                    VIEWED
                                {% else %}
                                    NEW
                                {% endif %}
                            </td>

                            <td>{{ news.source__name }}</td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#modal_{{ news.id }}"
                                   onclick="saved_search_mark_read_one('saved_search_mark_read_one/{{ query.id }}/{{ news.id }}','#row_{{ news.id }}')">
                                    {{ news.title }}

                                </a>
                            </td>
                            <td class="td-small">{{ news.date_post|date:"Y/m/d-H:i" }}</td>
                            <td>
                                <div class="btn-group" style="display: flex">
                                    <button type="button" class="btn btn-xs btn-danger"
                                            onclick="del_object('saved_search_del_news_one/{{ query.id }}/{{ news.id }}','#row_{{ news.id }}')">
                                        Удалить
                                    </button>
                                    <button type="button" class="btn btn-xs btn-success"
                                            onclick="saved_search_approve_news_one('saved_search_approve_news_one/{{ query.id }}/{{ news.id }}','#row_{{ news.id }}')">
                                        Оставить
                                    </button>
                                    <div class="btn-group btn-group-left">
                                        <button type="button" class="btn btn-xs btn-warning dropdown-toggle"
                                                data-toggle="dropdown">
                                            В проект <span class="caret"></span></button>
                                        <ul class="dropdown-menu" style="left: -15em" role="menu">
                                            <li><a href="#">В разработке</a></li>
                                            <li><a href="#">Будут показаны первые 40 символов .......</a></li>
                                            <li><a href="#">названия проекта</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endwith %}
            {% endwith %}
        {% endwith %}
        </tbody>
    </table>
    {#    </div>#}
    {% for news in news_list %}
        <div id="modal_{{ news.id }}" class="col-lg-12 modal fade">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i></h3>
                </div>
                <div class="panel-body">
                    <div align="center">
                        <button type="button" class="btn-sm btn-danger" data-dismiss="modal">
                            Закрыть
                        </button>
                    </div>
                    <h3>Подробно</h3>
                    <h4>{{ news.source__name }}</h4>
                    Дата публикации {{ news.date_post }}
                    Дата добавления в базу {{ news.date_add }}
                    {% autoescape off %}
                        <h3>{% replace_highlight news.title highlights_title|get_dict_value:news.id %}</h3>
                        <p>{% replace_highlight news.text highlights_text|get_dict_value:news.id %}</p>
                    {% endautoescape %}
                    <p>Ссылка на источник <a href="{{ news.url }}">{{ news.url }}</a></p>
                </div>
            </div>
        </div>


    {% endfor %}


    <script>
        var dt = $('#data-table').DataTable(
            {
                scrollY: '70vh',
                scrollCollapse: true,
                paging: false,
                rowId: 'id',
                dom: 'Bfrtip',
                buttons: {
                    buttons: [
                        'selectAll',
                        'selectNone',
                        'excel',
                        'pdf',
                        'csv',
                        'columnsToggle'
                    ]
                },
                columnDefs: [
                    {width: '75px', targets: 0},
                    {width: '75px', targets: 1},
                    {width: '120px', targets: 2},
                    {width: '400px', targets: 3},
                    {width: '75px', targets: 4}
                ],
                {#                fnRowCallback: function (row, data, dataIndex) {#}
                {#                    if (data.status) {#}
                {#                        var r = $('tr', row);#}
                {#                        console.log(r);#}
                {#                    }#}
                {#                },#}
{#                columns: {}#}
            }
        );


        $('#data-table tbody').on('click', 'tr[role="row"]', function () {
            $(this).toggleClass('selected');
        });
    </script>

{% endblock %}