{% block saved_search_query_group_report_form %}
    <div align="center">
    <h3>Груповой отчет</h3>
    <div align="center">Отметьте нужные запросы</div>
    </div>
    <form id="saved_search_query_group_report_form" action="{% url 'export_html_simple_group' %}"  target="_blank" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" class="btn btn-danger btn-xs" value="Отправить"/>
    </form>
{#    <script>#}
{#        $('#saved_search_query_group_report_form').submit(function (event) {#}
{#            $.post('{% url 'export_html_simple_group' %}', $("#saved_search_query_group_report_form").serialize(), function (data) {#}
{#                $("#search_result").html(data);#}
{#            }#}
{#            );#}
{#            return false;#}
{#        });#}
{#    </script>#}

{% endblock %}