{% block searchquery_form %}
    <button type="button" class="btn-sm btn-danger" data-dismiss="modal">Закрыть</button>
    <div align="center">
    <h3>Добавление запроса по новостям</h3>
    </div>
    <form id="form" action="{% url 'searchquery_form' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Сохранить"/>
    </form>


{% endblock %}