{% extends 'crowler/index.html' %}
{% block dashboard %}

    <script>
        function load_page(page, target) {
            $(target).html('<div align="center"><h3>Идет загрузка результатов</h3></div>');
            $(target).load(page);
        }
    </script>

    <script>
    function saved_search_mark_read_one(url, row_id) {
            $.get(url)
                .done(function () {
                    $(row_id).removeClass('tr-blue').addClass('tr-grey');
                })
                .fail(function () {
                    alert('Ошибка удаления, обновите страницу!')
                })
        }
    </script>
    <script>
    function saved_search_approve_news_one(url, row_id) {
            $.get(url)
                .done(function () {
                    $(row_id).removeClass('tr-blue tr-red tr-grey').addClass('tr-green');
                })
                .fail(function () {
                    alert('Ошибка удаления, обновите страницу!')
                })
        }
    </script>

    <script>
        function del_object(url, row_id) {
            if (confirm('Подтвердите удаление! \n После удаления объекта восстановить его НЕВОЗМОЖНО!\n После удаления объекта восстановить его НЕВОЗМОЖНО! ')) {
                $.get(url)
                .done(function () {
                    $(row_id).hide();
                })
                .fail(function () {
                    alert('Ошибка удаления, обновите страницу!')

                })
            }

        }
    </script>

    
    

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Работа с запросами
                        <small>Созданние, изменение</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-globe"></i> Запросы
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            <div class="row">
                <!-- Источники -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>Поисковые запросы</h3>
                        </div>

                        <!-- Простой поиск -->
                        <div id="simple_search"></div>

                        <!-- Результаты простого поиска -->
                        <div id="search_result"></div>
                        <hr>

                        <!-- Сохраненные запросы -->

                        <div class="panel-body">
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'searchquery_form' %}', '#result_body')">Добавить
                            </button>
                            <button id="refresh" type="button" class="btn-xs btn-info"
                                    onclick="load_page('{% url 'searchquery_list' %}', '#table')">Обновить
                            </button>
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'export_html_simple_group' %}', '#result_body')">Групповой отчет HTML
                            </button>

                            <!-- Таблица с сохраненными запросами -->
                            <div id="table"></div>

                            <!-- Таблица с результатами по сохраненному запросу -->
                            <hr>
                            <div id="saved_search_result"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                load_page('{% url 'searchquery_list' %}', '#table');
                load_page('{% url 'simple_search_query_form' %}', '#simple_search');
            </script>

            <!-- /.row -->
        </div>

        <div class="row">
            <div id="myModal" class="col-lg-12 modal fade">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i></h3>
                    </div>


                    <div id="result_body" class="panel-body">

                    </div>
                </div>
            </div>
        </div>

        <!-- /.container-fluid -->

    </div>
    </div>

{% endblock %}