{% block searchquery_list %}
    <div align="center">
        <h3>Сохраненные запросы</h3>
    </div>
    <div id="message"></div>
    <table id="query-table" class="table table-responsive">
        <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Источники</th>
            <th>Период</th>
            <th>ALL/IN/VIEW/DEL/APP</th>
            <th>Мониторинг</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for query in object_list %}
            <tr id="row_{{ query.id }}">
                <td>{{ query.id }}</td>
                <td>{{ query.name }}</td>
                <td>{{ query.source_query.sources_sercher|length }}</td>
                <td class="td-small">c: {{ query.date_start|date:"Y/m/d" }}<br> по {{ query.date_end|date:"Y/m/d" }}
                </td>
                <td>
                    ALL: <a href="#saved_search_result"
                            onclick="handler_all({{ query.id }})">{{ query.get_count_all }}</a>
                    /
                    IN: <a href="#saved_search_result"
                           onclick="handler_in({{ query.id }})">{{ query.get_count_inbox_news }}</a>
                    /
                    VIEW: <a href="#saved_search_result"
                             onclick="handler_view({{ query.id }})">{{ query.viewed_news.count }}</a>
                    /
                    DEL: <a href="#saved_search_result"
                            onclick="handler_del({{ query.id }})">{{ query.deleted_news.count }}</a>
                    /
                    APP: <a href="#saved_search_result"
                            onclick="handler_app({{ query.id }})">{{ query.approved_news.count }}</a>
                </td>
                <td>
                    {% if query.on_monitor %}
                        <button type="button" class="btn-xs btn-danger"
                                onclick="not_ready()">
                            Выключить
                        </button>
                    {% else %}
                        <button type="button" class="btn-xs btn-success"
                                onclick="not_ready()">
                            Включить
                        </button>

                    {% endif %}
                </td>
                <td>
                    <div class="btn-group" style="display: flex">
                        <a class="btn btn-xs btn-warning" target="_blank"
                           href="searchquery_update/{{ query.id }}">Изменить
                        </a>
                        <button type="button" class="btn-xs btn-danger"
                                onclick="del_object('searchquery_delete/{{ query.id }}/','#row_{{ query.id }}' )">
                            Удалить
                        </button>
                        <button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown">
                            Отчеты <span class="caret"></span></button>
                        <ul class="dropdown-menu" style="left: 0em" role="menu">
                            {#                                <li><a target="_blank" href="export_doc_simple/{{ query.id }}">Простой отчет DOCX</a></li>#}
                            <li><a target="_blank" href="export_html_simple/{{ query.id }}">Простой отчет HTML</a></li>
                            <li><a target="_blank" href="export_html_simple_all/{{ query.id }}">Простой отчет
                                HTML(ALL)</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
    <script>
        $('#query-table').DataTable(
            {
                scrollY: '50vh',
                scrollCollapse: true,
                paging: false
            }
        );
    </script>

    <div align="center"><h4>Групповая обработка новостей</h4></div>
    <div class="panel-success">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#add_news">Перемещение в проекты\темы\рубрики</a>
        </div>
        <div id="add_news" class="panel-collapse collapse">
            <div class="panel-body">
                <form>
                    <input id="search_query" name="query" type="text" value="" hidden>
                    {% csrf_token %}
                    <div class="row">
                        <div id="projects_l_" class="col-md-3">
                            <label for="#project_s_">Проект:</label>
                            <select name="project" id="project_s_" onchange=load_themes('')></select>
                        </div>
                        <div id="themes_l_" class="col-md-3" hidden>
                            <label for="#theme_s_">Тема:</label>
                            <select name="theme" id="theme_s_" onchange="load_rubrics('')"></select>
                        </div>
                        <div id="rubrics_l_" class="col-md-3" hidden>
                            <label for="#rubric_s_">Рубрика:</label>
                            <select name="rubric" id="rubric_s_"></select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger btn-xs js-add-news-ptr">
                                Прикрепить
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <script>
            load_projects('');
            $('.js-add-news-ptr').on('click', function () {
                event.preventDefault();
                var f = $(this).closest('form');
                var d = f.serializeObject();
                var table = window['dt'];
                var rows = table.rows('.selected');
                d.news = rows.ids().toArray();
                return $.ajax({
                    dataType: "json",
                    url: "/api/project/news/add/",
                    type: "post",
                    data: d,
                    error: function (data) {
                        alert('Ошибка добавления новостей \n Ошибка: ' + data.responseJSON.detail)
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                    },
                    success: function (data) {
                        Object.keys(data).forEach(function (key, index) {
                            data[index].status = 'APP'
                        });
                        var i;
                        for (i = 0; i < data.length; i++) {
                            dt.row('#' + data[i].id).data(data[i]).deselect()
                        }
                        dt.draw();
                    }
                })
            });


        </script>
    </div>

    <div align="center">
        <h4>Найденные новости</h4>
        Наименование запроса:<strong id="query_name"></strong> /
        {#        Найдено: total показано news_list#}
    </div>


    <table id="data-table" class="table table-responsive">
        <thead>
        <tr>
            <th><i class="fa fa-plus-square-o" aria-hidden="true"></i></th>
            <th>id</th>
            <th>Статус</th>
            <th>Источник</th>
            <th>Заголовок</th>
            <th>Дата публикации</th>
            <th>Действия</th>
        </tr>
        </thead>
    </table>
    <div id="modal_news" class="col-md-8 col-md-offset-2 modal fade">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i></h3>
            </div>
            <div class="panel-body">
                <div align="center">
                    <button type="button" class="btn-sm btn-danger" data-dismiss="modal">
                        Закрыть
                    </button>
                </div>
                <div id="modal_content">

                </div>


            </div>
        </div>
    </div>
    <script>
        var in_data;
        var view_data;
        var del_data;
        var app_data;
        var current_query;
        var projects;


        function update_search_qery_form(q_id) {
            $('#search_query').attr('value', q_id)

        }

        function get_in(q_id) {
            return $.ajax({
                dataType: "json",
                url: "/api/query/news/in/" + q_id,
                type: "get",
                error: function (data) {
                    alert('Ошибка получения новостей \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    Object.keys(data).forEach(function (key, index) {
                        data[index].status = 'IN'
                    });
                    dt.rows.add(data).draw();

                }
            })
        }

        function get_view(q_id) {
            return $.ajax({
                dataType: "json",
                url: "/api/query/news/view/" + q_id,
                type: "get",
                error: function (data) {
                    alert('Ошибка получения новостей \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    Object.keys(data).forEach(function (key, index) {
                        data[index].status = 'VIEW'
                    });
                    dt.rows.add(data).draw();
                }
            })
        }

        function get_del(q_id) {
            return $.ajax({
                dataType: "json",
                url: "/api/query/news/del/" + q_id,
                type: "get",
                error: function (data) {
                    alert('Ошибка получения новостей \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    Object.keys(data).forEach(function (key, index) {
                        data[index].status = 'DEL'
                    });
                    dt.rows.add(data).draw();
                }
            })
        }

        function get_app(q_id) {
            return $.ajax({
                dataType: "json",
                url: "/api/query/news/app/" + q_id,
                type: "get",
                error: function (data) {
                    alert('Ошибка получения новостей \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    Object.keys(data).forEach(function (key, index) {
                        data[index].status = 'APP'
                    });
                    dt.rows.add(data).draw();
                }
            })
        }

        function get_all(q_id) {
            current_query = q_id;
            flush_dt(dt);
            get_in(q_id);
            get_view(q_id);
            get_del(q_id);
            get_app(q_id)
        }

        function flush_dt(table) {
            table.rows().remove()
        }

        function handler_all(q_id) {
            current_query = q_id;
            flush_dt(dt);
            get_all(q_id);
            update_search_qery_form(q_id)

        }

        function handler_app(q_id) {
            current_query = q_id;
            flush_dt(dt);
            get_app(q_id);
            update_search_qery_form(q_id)
        }

        function handler_del(q_id) {
            current_query = q_id;
            flush_dt(dt);
            get_del(q_id);
            update_search_qery_form(q_id)


        }

        function handler_view(q_id) {
            current_query = q_id;
            flush_dt(dt);
            get_view(q_id);
            update_search_qery_form(q_id)
        }

        function handler_in(q_id) {
            current_query = q_id;
            flush_dt(dt);
            get_in(q_id);
            update_search_qery_form(q_id)
        }

        function news_move_view() {
            var ids = dt.rows('.selected').ids().toArray();
            var d = {};
            d.news = JSON.stringify(Object.values(ids));
            return $.ajax({
                dataType: "json",
                url: "/api/query/news/modify/view/" + current_query + '/',
                type: "put",
                data: d,
                error: function (data) {
                    alert('Ошибка сохранения новости \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                },
                success: function (data) {
                    Object.keys(data).forEach(function (key, index) {
                        data[index].status = 'VIEW'
                    });
                    var i;
                    for (i = 0; i < data.length; i++) {
                        dt.row('#' + data[i].id).data(data[i]).deselect()
                    }
                    dt.draw();
                }
            })
        }

        function news_move_in() {
            var ids = dt.rows('.selected').ids().toArray();
            var d = {};
            d.news = JSON.stringify(Object.values(ids));
            return $.ajax({
                dataType: "json",
                url: "/api/query/news/modify/in/" + current_query + '/',
                type: "put",
                data: d,
                error: function (data) {
                    alert('Ошибка сохранения новости \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                },
                success: function (data) {
                    Object.keys(data).forEach(function (key, index) {
                        data[index].status = 'IN'
                    });
                    var i;
                    for (i = 0; i < data.length; i++) {
                        dt.row('#' + data[i].id).data(data[i]).deselect()
                    }
                    dt.draw();
                }
            })
        }

        function news_move_del() {
            var ids = dt.rows('.selected').ids().toArray();
            var d = {};
            d.news = JSON.stringify(Object.values(ids));
            return $.ajax({
                dataType: "json",
                url: "/api/query/news/modify/del/" + current_query + '/',
                type: "put",
                data: d,
                error: function (data) {
                    alert('Ошибка сохранения новости \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                },
                success: function (data) {
                    Object.keys(data).forEach(function (key, index) {
                        data[index].status = 'DEL'
                    });
                    var i;
                    for (i = 0; i < data.length; i++) {
                        dt.row('#' + data[i].id).data(data[i]).deselect()
                    }
                    dt.draw();
                }
            })
        }

        function news_move_app() {
            var ids = dt.rows('.selected').ids().toArray();
            var d = {};
            d.news = JSON.stringify(Object.values(ids));
            return $.ajax({
                dataType: "json",
                url: "/api/query/news/modify/app/" + current_query + '/',
                type: "put",
                data: d,
                error: function (data) {
                    alert('Ошибка сохранения новости \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                },
                success: function (data) {
                    Object.keys(data).forEach(function (key, index) {
                        data[index].status = 'APP'
                    });
                    var i;
                    for (i = 0; i < data.length; i++) {
                        dt.row('#' + data[i].id).data(data[i]).deselect()
                    }
                    dt.draw();
                }
            })
        }

        function render_title(data) {
            var tpl = '<a href="' + data.url + '" target="_blank">' + data.title + '</a>'
            return tpl
        }

        function render_highlights(data) {
            var tpl = '';

            tpl += '<h4>Полный текст:</h4>';
            tpl += '<p>' + data.highlights.text_high + '</p>';
            tpl += '<hr>';

            if (data.highlights.title) {
                tpl += '<h4>Совпадения в заголовке:</h4>';
                Array.from(data.highlights.title).forEach(function (curr, index, arr) {
                    tpl += '<p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> ' + curr + '</p>'

                });
                tpl += '<hr>'
            } else {
                tpl += '<h4>Совпадений в заголовке не найдено</h4> <br>';
            }

            if (data.highlights.text) {
                tpl += '<h4>Совпадения в тексте:</h4> <br>';
                Object.keys(data.highlights.text).forEach(function (key, index) {
                    tpl += '<p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> ' + data.highlights.text[index] + '</p>'
                });
            } else {
                tpl += '<h4>Совпадений в тексте не найдено</h4> <hr>';
            }
            return tpl
        }

        function render_date(data) {
            var date = new Date(data.date_post);
            return $.format.date(date, 'yyyy-MM-dd HH:mm:ss')
        }

        function render_buttons(n_id) {
            tpl = '<div class="btn-group">' +
                '  <div class="btn-group">' +
                '    <button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown">' +
                '    В проект <span class="caret"></span></button>' +
                '    <ul class="dropdown-menu" role="menu">';
            for (var i = 0; i < projects.length; i++) {
                tpl += '<li><a onclick="add_one_to_project(' + projects[i].id + ', ' + n_id + ')">' + projects[i].name + '</a></li>'
            }
            tpl += '</ul>' +
                '</div>' +
                '</div>';
            return tpl
        }


        function add_one_to_project(pr_id, n_id) {
            event.preventDefault();
            var d = {};
            var row;
            d.news = [n_id,];
            d.project = pr_id;
            d.query = current_query;
            return $.ajax({
                dataType: "json",
                url: "/api/project/news/add/",
                type: "post",
                data: d,
                error: function (data) {
                    alert('Ошибка добавления новостей \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                },
                success: function (data) {
                    Object.keys(data).forEach(function (key, index) {
                        data[index].status = 'APP'
                    });
                    var i;
                    for (i = 0; i < data.length; i++) {
                        row = dt.row('#' + data[i].id);
                        row.data(data[i]).deselect();
                        row = $('#' + data[i].id);
                        row[0].style.backgroundColor = 'lightgreen';
                    }
                }
            })
        }

        {#    todo unused  load_modal_news #}

        function load_modal_news(n_id) {
            event.preventDefault();

            return $.ajax({
                dataType: "json",
                url: "/api/news/highlight/" + n_id + "/" + current_query + '/',
                type: "get",
                error: function (data) {
                    alert('Ошибка получения highlight \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                },
                success: function (data) {
                    $('#modal_content').html(render_highlights(data));
                    $('#modal_news').modal('show');
                    var row = dt.row('#' + n_id);
                    if (row.data().status === 'IN') {
                        var ids = [n_id,];
                        var d = {};
                        d.news = JSON.stringify(Object.values(ids));
                        return $.ajax({
                            dataType: "json",
                            url: "/api/query/news/modify/view/" + current_query + '/',
                            type: "put",
                            data: d,
                            error: function (data) {
                                alert('Ошибка сохранения новости \n Ошибка: ' + data.responseJSON.detail)
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                            },
                            success: function (data) {
                                Object.keys(data).forEach(function (key, index) {
                                    data[index].status = 'VIEW'
                                });
                                var i;
                                for (i = 0; i < data.length; i++) {
                                    dt.row('#' + data[i].id).data(data[i])
                                }
                                dt.draw();
                            }
                        })
                    }
                }
            })
        }

        {#    todo unused  render_highlights_table #}

        function render_highlights_table(data) {
            var tpl = '';

            if (data.highlights.title) {
                tpl += '<strong>В заголовке:</strong> <br>';
                Array.from(data.highlights.title).forEach(function (curr, index, arr) {
                    tpl += curr + '<br>'

                });
            } else {
                tpl += '<strong>Совпадений в заголовке не найдено</strong><br>';
            }

            if (data.highlights.text) {
                tpl += '<strong>Втексте:</strong> <br>';
                Object.keys(data.highlights.text).forEach(function (key, index) {
                    tpl += data.highlights.text[index] + '<br>'
                });
            } else {
                tpl += '<strong>Совпадений в тексте не найдено</strong>';
            }

            return tpl
        }

        function get_xml_v2() {
            var table = window['dt'];
            var rows = table.rows('.selected');
            var d = {
                "news": rows.ids().toArray()
            };
            var j = JSON.stringify(d);
            {#            console.log(d);#}
            $.ajax({
                dataType: "html",
                url: "/search/make_xml/",
                {#                enctype: "multipart/form-data",#}
                type: "post",
                data: j,
                processData: false,
                error: function (data) {
                    alert('Ошибка получения списка проектов  \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                },
                success: function (data) {
                    var file = new File([data], "report_digest.xml", {type: "text/xml;charset=utf-8"});
                    saveAs(file);
                }
            });
        }

        var dt;
        $(document).ready(function () {
            $.ajax({
                dataType: "json",
                url: "/api/project/all/",
                type: "get",
                error: function (data) {
                    alert('Ошибка получения списка проектов  \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    projects = data
                }
            });

            var data = {};
            dt = $('#data-table').DataTable(
                {
                    scrollY: '70vh',
                    scrollCollapse: true,
                    paging: false,
                    rowId: 'id',
                    dom: 'Bfrtip',
                    buttons: {
                        buttons: [
                            'selectAll',
                            'selectNone',
                            'excel',
                            {
                                text: 'XML',
                                action: function (e, dt, node, config) {
                                    get_xml_v2()
                                }
                            },
                            'columnsToggle',

                            {
                                text: 'IN',
                                className: 'btn-in-table',
                                action: function (e, dt, node, config) {
                                    news_move_in()
                                }
                            },
                            {
                                text: 'VIEW',
                                className: 'btn-view-table',
                                action: function (e, dt, node, config) {
                                    news_move_view()
                                }
                            },
                            {
                                text: 'DEL',
                                className: 'btn-del-table',
                                action: function (e, dt, node, config) {
                                    news_move_del()
                                }
                            },
                            {
                                text: 'APP',
                                className: 'btn-app-table',
                                action: function (e, dt, node, config) {
                                    news_move_app()
                                }
                            }
                        ]
                    },
                    fnRowCallback: function (row, data, dataIndex) {
                        if (data) {
                            if (data.status) {
                                if (data.status == 'IN') {
                                    var r = $('tr', row);
                                    r.prevObject['0'].style.backgroundColor = 'lightblue';
                                } else if (data.status == 'VIEW') {
                                    var r = $('tr', row);
                                    r.prevObject['0'].style.backgroundColor = 'lightgrey';
                                } else if (data.status == 'DEL') {
                                    var r = $('tr', row);
                                    r.prevObject['0'].style.backgroundColor = 'darksalmon';
                                } else if (data.status == 'APP') {
                                    var r = $('tr', row);
                                    r.prevObject['0'].style.backgroundColor = 'lightgreen';
                                }
                            }
                        }
                    },
                    columnDefs: [
                        {width: '10px', targets: 0},
                        {width: '60px', targets: 1},
                        {width: '40px', targets: 2},
                        {width: '120px', targets: 3},
                        {width: '300px', targets: 4},
                        {width: '80px', targets: 5}
                    ],
                    columns: [
                        {
                            data: null,
                            className: 'details-control',
                            orderable: false,
                            defaultContent: '<i class="fa fa-plus-square-o" aria-hidden="true"></i>'
                        },
                        {
                            data: null,
                            className: 'td-small-s',
                            render: function (data) {
                                if (data) {
                                    return data.id
                                }
                            }
                        },
                        {
                            data: null,
                            render: function (data) {
                                if (data) {
                                    return data.status
                                }
                            }
                        },
                        {
                            data: null,
                            render: function (data) {
                                if (data) {
                                    return data.source.name
                                }
                            }
                        },
                        {
                            data: null,
                            render: function (data) {
                                if (data) {
                                    return render_title(data);
                                }
                            }
                        },
                        {
                            data: null,
                            className: 'td-small-s',
                            render: function (data) {
                                if (data) {
                                    return render_date(data)
                                }
                            }
                        },
                        {
                            data: data,
                            render: function (data) {
                                return render_buttons(data.id)
                            }
                        }
                    ]
                }
            );


        });

        $('#data-table tbody').on('click', 'i.fa.fa-plus-square-o', function () {
            var tr = $(this).closest('tr');
            var row = dt.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                $(this).removeClass('fa-minus-square-o');
                $(this).addClass('fa-plus-square-o');
            }
            else {
                // Open this row
                $.ajax({
                    dataType: 'json',
                    url: "/api/news/highlight/" + row.data().id + "/" + current_query + "/",
                    type: 'get'
                }).done(function (data) {
                    // Open this row
                    row.child(render_highlights(data)).show();
                    tr.addClass('shown');
                });

                {#                        row.child('<h1>Hello</h1>').show();#}

                {#                var row = dt.row('#' + n_id);#}
                if (row.data().status === 'IN') {
                    var ids = [row.data().id,];
                    var d = {};
                    d.news = JSON.stringify(Object.values(ids));
                    return $.ajax({
                        dataType: "json",
                        url: "/api/query/news/modify/view/" + current_query + '/',
                        type: "put",
                        data: d,
                        error: function (data) {
                            alert('Ошибка сохранения новости \n Ошибка: ' + data.responseJSON.detail)
                        },
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                        },
                        success: function (data) {
                            Object.keys(data).forEach(function (key, index) {
                                data[index].status = 'VIEW'
                            });
                            var i;
                            for (i = 0; i < data.length; i++) {
                                row = dt.row('#' + data[i].id);
                                row.data(data[i]);
                                row = $('#' + data[i].id);
                                row[0].cells[0].innerHTML = '<i class="fa fa-minus-square-o" aria-hidden="true"></i>';
                                row[0].style.backgroundColor = 'lightgrey';
                            }

                        }
                    })
                } else {
                    $(this).removeClass('fa-plus-square-o');
                    $(this).addClass('fa-minus-square-o');
                }
            }
        });
        {# Скрыть #}
        $('#data-table tbody').on('click', 'i.fa.fa-minus-square-o', function () {
            var tr = $(this).closest('tr');
            var row = dt.row(tr);
            if (row.child.isShown()) {
                row.child.hide();
                $(this).removeClass('fa-minus-square-o');
                $(this).addClass('fa-plus-square-o');
            }
            {#            else {#}
            {#                // Open this row#}
            {#                row.child('<h1>Hello</h1>').show();#}
            {#                $(this).removeClass('fa-plus-square-o');#}
            {#                $(this).addClass('fa-minus-square-o');#}
            {#            }#}
        });

        $('#data-table tbody').on('click', 'tr[role="row"]', function () {
            $(this).toggleClass('selected');
        });


    </script>


{% endblock %}
