{% block simple_search_query_form %}
    <div align="center">
    <h3>Простой запрос</h3>
    <div align="center">Здесь можно тестировать запросы, выводится первые <strong>1000</strong> совпадений</div>
    </div>
    <form id="simple_search_query_form" action=""  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-danger btn-xs" value="Отправить"/>
    </form>
    <script>
        $('#simple_search_query_form').submit(function (event) {
            $.post('{% url 'simple_search_query_form' %}', $("#simple_search_query_form").serialize(), function (data) {
                $("#search_result").html(data);
            });
            return false;
        });
    </script>

{% endblock %}