<!DOCTYPE html>
<html lang="en">

{% include 'crowler/head/head.html' %}

<body>

<div id="wrapper">

    <!-- Navigation -->
    {% include 'crowler/navbar.html' %}

    {% block dashboard %}
    {% endblock %}

    {% block search %}
    {% endblock %}

    {% block news %}
    {% endblock %}
{% block form %}

{% endblock %}
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
{% load staticfiles %}
<!-- jQuery -->

</body>
</html>