{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={% url 'crowler' %}>Smimonitor</a>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                {% if request.get_full_path == '/' %}
                    <li class="active">
                        {% else %}
                    <li>
                {% endif %}


                <a href={% url 'crowler' %}><i class="fa fa-fw fa-dashboard"></i>Панель статистики</a>
                </li>
                {% if request.get_full_path == '/news_stats' %}
                    <li class="active">
                        {% else %}
                    <li>
                {% endif %}


                <a href={% url 'news_stats' %}><i class="fa fa-fw fa-globe"></i>Статистика по источникам</a>
                </li>
                </li>

                {% if request.get_full_path == '/catalog/' %}
                    <li class="active">
                        {% else %}
                    <li>
                {% endif %}


                <a href={% url 'catalog' %}><i class="fa fa-fw fa-globe"></i>Работа с каталогом источников</a>
                </li>

                {% if request.get_full_path == '/catalog/catalog_search/' %}
                    <li class="active">
                        {% else %}
                    <li>
                {% endif %}
                <a href={% url 'catalog_search' %}><i class="fa fa-fw fa-globe"></i>Поиск источников</a>
                </li>
                </li>
                {% if request.get_full_path == '/search/' %}
                    <li class="active">
                        {% else %}
                    <li>
                {% endif %}
                <a href={% url 'search' %}><i class="fa fa-fw fa-globe"></i>Поиск новостей</a>
                </li>
                </li>
            {% if request.get_full_path == '/projects/' %}
                    <li class="active">
                        {% else %}
                    <li>
                {% endif %}
                <a href={% url 'projects' %}><i class="fa fa-fw fa-globe"></i>Проекты</a>
                </li>
                </li>


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>


{% endblock %}