{% block news_detail %}
    <div align="center">
    <h3>Подробно</h3>
    </div>
    <h4>{{ object.source.name }}</h4>
    <h3>{{ object.title }}</h3>
    {{ object.date_post }} \ {{ object.date_add }}
    <p>{{ object.text }}</p>
    <p>ссылка на источник <a href="{{ object.url }}">{{ object.url }}</a></p>
{% endblock %}