.td-small {
    font-size: x-small;
}

.td-small-s {
    font-size: smaller;
}

.btn-table > .btn {
    padding: 1px 2px;
    font-size: 10px;
    line-height: 1;
    border-radius: 3px;
}

.tr-red {
    background: darksalmon;
}

.tr-green {
    background: lightgreen;
}

.tr-blue {
    background: lightblue;
}

.tr-grey {
    background: lightgrey;
}

.small-text {
    font-size: small;
}
table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; // ***********add this
  word-wrap:break-word; // ***********and this
}

a.btn-danger-table {
    background-image: linear-gradient(to bottom, #fff 0%, #d01c1c 100%);
}

a.btn-success-table {
    background-image: linear-gradient(to bottom, #fff 0%, #44d03a 100%);
}

a.btn-del-table {
    background-image: linear-gradient(to bottom, #fff 0%, #e9967a 100%);
}
a.btn-in-table {
    background-image: linear-gradient(to bottom, #fff 0%, #add8e6 100%);
}
a.btn-app-table {
    background-image: linear-gradient(to bottom, #fff 0%, #90ee90 100%);
}
a.btn-view-table {
    background-image: linear-gradient(to bottom, #fff 0%, #acacac 100%);
}

highlight{
    color: blue;
    font-weight: 100;

}