{% block bool_analytics_detail %}

    {% for an in analytics %}
        <div id="bool_analytic_panel_{{ an.id }}" class="panel panel-success">
            <div class="panel-heading">

                <div class="col-md-8">
                    <a data-toggle="collapse" id="analytic_bool_name_a_{{ an.id }}"
                       href="#bool_analytic_{{ an.id }}">{{ an.name }}</a>

                </div>
                <div align="right">
                    <button class="btn btn-danger btn-xs"
                            onclick="del_object('/projects/analytics/bool/del_one/{{ an.id }}', '#bool_analytic_panel_{{ an.id }}')">
                        Удалить
                    </button>
                </div>
            </div>

            <div id="bool_analytic_{{ an.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="#" onclick="renameBoolAnalytic({{ an.id }}, '#analytic_bool_name_a_{{ an.id }}')"><i
                            class="fa fa-pencil-square-o"
                            aria-hidden="true"></i>
                        Переименовать Аналитику</a>
                    <hr>
                    <div class="inline-group">
                        Условно позитивное:
                        <br>
                        <strong id="analytic_bool_positive_{{ an.id }}">
                            {{ an.name_positive }}
                        </strong>
                        <br>
                        <a href="#" onclick="renameBoolPositive({{ an.id }}, '#analytic_bool_positive_{{ an.id }}')">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Изменить
                        </a>
                    </div>
                    <hr>
                    Условно негативное:
                    <br>
                    <strong id="analytic_bool_negative_{{ an.id }}">
                        {{ an.name_negative }}
                    </strong>
                    <br>
                    <a href="#" onclick="renameBoolNegative({{ an.id }}, '#analytic_bool_negative_{{ an.id }}')">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Изменить
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}