{#{% extends 'crowler/index.html' %}#}
{% load staticfiles %}
<script src="{% static 'crowler/js/jquery.js' %}"></script>
{% block form %}
    <form action="/api/project/status/create/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn-xs btn-danger" type="submit" value="Сохранить"/>
    </form>


    <script>
        $(document).ready(function () {
            $('#id_color').attr('type', 'color');
        })
    </script>
{% endblock %}