{% block journal_list %}
    {% load projects_extras %}
    <h3>Журнал
        <a href="#journal_{{ project.id }}"
           onclick="getJournal({{ project.id }}, '#journal_{{ project.id }}')">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>
    </h3>
    <div align="center">
        <h4>Групповая обработка новостей</h4></div>

    <!-- Добавление новостей в ПТР -->
    <div class="panel-success">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#add_news">Перемещение в проекты\темы\рубрики</a>
        </div>
        <div id="add_news" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <form>
                        <input id="id_project" name="cur_project" type="hidden" value="{{ project.id }}">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div id="projects_l_{{ project.id }}" class="col-md-3">
                            <label for="#project_s_{{ project.id }}">Проект:</label>
                            <select name="project" id="project_s_{{ project.id }}"
                                    onchange=load_themes({{ project.id }})>
                            </select>
                        </div>
                        <div id="themes_l_{{ project.id }}" class="col-md-3" hidden>
                            <label for="#theme_s_{{ project.id }}">Тема:</label>

                            <select name="theme" id="theme_s_{{ project.id }}"
                                    onchange="load_rubrics({{ project.id }})">
                            </select>
                        </div>
                        <div id="rubrics_l_{{ project.id }}" class="col-md-3" hidden>
                            <label for="#rubric_s_{{ project.id }}">Рубрика:</label>
                            <select name="rubric" id="rubric_s_{{ project.id }}">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger btn-xs js-copy-news-ptr">Скопировать</button>
                            <button class="btn btn-danger btn-xs js-move-news-ptr">Переместить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.js-copy-news-ptr').on('click', function () {
            event.preventDefault();
            var f = $(this).closest('form');
            var d = f.serializeObject();
            var table = window['jt_' + d.cur_project];
            var table_to = window['jt_' + d.project];
            var news_ids = table.rows('.selected').ids().toArray();
            d.news = news_ids;
            return $.ajax({
                dataType: "json",
                url: "/api/news/ptr/copy/",
                type: "put",
                data: d,
                error: function (data) {
                    alert('Ошибка сохранения новости \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                },
                success: function (data) {
                    console.log(data);
                    table_to.rows.add(data).draw();
                    alert('Новость сохранена');
                }
            })
        });
        $('.js-move-news-ptr').on('click', function () {
            event.preventDefault();
            var f = $(this).closest('form');
            var d = f.serializeObject();
            var table = window['jt_' + d.cur_project];
            var rows = table.rows('.selected');
            var table_to = window['jt_' + d.project];
            var news_ids = rows.ids().toArray();
            d.news = news_ids;
            return $.ajax({
                dataType: "json",
                url: "/api/news/ptr/copy/",
                type: "put",
                data: d,
                error: function (data) {
                    alert('Ошибка сохранения новости \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                },
                success: function (data) {
                    console.log(data);
                    rows.remove().draw();
                    table_to.rows.add(data).draw();
                    alert('Новость сохранена');
                }
            })
        });

    </script>

    <!-- Добавление Числовых аналитик -->
    <div class="panel-success">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#add_num_analytics_{{ project.id }}">Добавление числовых аналитик</a>

        </div>
        <div id="add_num_analytics_{{ project.id }}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <form>
                        <input id="id_project" name="cur_project" type="hidden" value="{{ project.id }}">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div id="analytics_num_l_{{ project.id }}" class="col-md-3">
                            <label for="#analytics_num_s_{{ project.id }}">Аналитика:</label>
                            <select name="num_analytic" id="num_analytic_s_{{ project.id }}"></select>
                        </div>
                        <div id="analytics_num_param_{{ project.id }}" class="col-md-4">
                            <label for="#analytics_num_p_{{ project.id }}">параметр:</label>
                            <input name="num_param" id="analytics_num_p_{{ project.id }}" type="number">
                        </div>

                        <div class="col-md-3">
                            <button class="btn btn-danger btn-xs js-add-param-num">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script>
        $('.js-add-param-num').on('click', function () {
            event.preventDefault();
            var f = $(this).closest('form');
            var d = f.serializeObject();
            var table = window['jt_' + d.cur_project];
            var rows = table.rows('.selected');
            var table_to = window['jt_' + d.project];
            var news_ids = rows.ids().toArray();
            d.news = news_ids;
            return $.ajax({
                dataType: "json",
                url: "/api/news/add/param/num/",
                type: "put",
                data: d,
                error: function (data) {
                    alert('Ошибка добавления числовой аналитики \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                },
                success: function (data) {
                    console.log(data);
                    var i;
                    for (i = 0; i < data.length; i++) {
                        table.row('#' + data[i].id).data(data[i])
                    }
                    table.draw();

                    alert('Числовые аналитики добавлены');
                }
            })
        });
    </script>

    <!-- Добавление Булевых аналитик -->
    <div class="panel-success">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#add_bool_analytics_{{ project.id }}">Добавление булевых аналитик</a>

        </div>
        <div id="add_bool_analytics_{{ project.id }}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <form>
                        <input id="id_project" name="cur_project" type="hidden" value="{{ project.id }}">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div id="analytics_bool_l_{{ project.id }}" class="col-md-3">
                            <label for="#analytics_bool_s_{{ project.id }}">Аналитика:</label>
                            <select name="bool_analytic" id="analytics_bool_s_{{ project.id }}"
                                    onchange="load_bool_params('#analytics_bool_s_{{ project.id }}', '#analytics_bool_p_{{ project.id }}')">
                            </select>
                        </div>
                        <div id="analytics_bool_param_{{ project.id }}" class="col-md-4">
                            <label for="#analytics_bool_p_{{ project.id }}">параметр:</label>
                            <select id="analytics_bool_p_{{ project.id }}" name="bool_param"></select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger btn-xs js-add-param-bool">
                                Добавить
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
        $('.js-add-param-bool').on('click', function () {
            event.preventDefault();
            var f = $(this).closest('form');
            var d = f.serializeObject();
            var table = window['jt_' + d.cur_project];
            var rows = table.rows('.selected');
            var news_ids = rows.ids().toArray();
            d.news = news_ids;
            return $.ajax({
                dataType: "json",
                url: "/api/news/add/param/bool/",
                type: "put",
                data: d,
                error: function (data) {
                    alert('Ошибка добавления числовой аналитики \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                },
                success: function (data) {
                    console.log(data);
                    var i;
                    for (i = 0; i < data.length; i++) {
                        table.row('#' + data[i].id).data(data[i])
                    }
                    table.draw();

                    alert('Числовые аналитики добавлены');
                }
            })
        });
    </script>

    <!-- Добавление Списочных аналитик -->
    <div class="panel-success">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#add_list_analytics_{{ project.id }}">Добавление списочных аналитик</a>
        </div>
        <div id="add_list_analytics_{{ project.id }}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <form>
                        <input id="id_project" name="cur_project" type="hidden" value="{{ project.id }}">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                        <div id="analytics_list_l_{{ project.id }}" class="col-md-3">
                            <label for="#analytics_list_s_{{ project.id }}">Аналитика:</label>
                            <select name="list_analytic" id="analytics_list_s_{{ project.id }}"
                                    onchange="load_list_params('#analytics_list_s_{{ project.id }}', '#analytics_list_p_{{ project.id }}')">
                            </select>
                        </div>
                        <div id="analytics_list_param_{{ project.id }}" class="col-md-4">
                            <label for="#analytics_list_p_{{ project.id }}">параметр:</label>
                            <select id="analytics_list_p_{{ project.id }}" name="list_param"></select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger btn-xs js-add-param-list">
                                Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.js-add-param-list').on('click', function () {
            event.preventDefault();
            var f = $(this).closest('form');
            var d = f.serializeObject();
            var table = window['jt_' + d.cur_project];
            var rows = table.rows('.selected');
            var news_ids = rows.ids().toArray();
            d.news = news_ids;
            return $.ajax({
                dataType: "json",
                url: "/api/news/add/param/list/",
                type: "put",
                data: d,
                error: function (data) {
                    alert('Ошибка добавления списочной аналитики \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                },
                success: function (data) {
                    console.log(data);
                    var i;
                    for (i = 0; i < data.length; i++) {
                        table.row('#' + data[i].id).data(data[i])
                    }
                    table.draw();

                    alert('Списочные аналитики добавлены');
                }
            })
        });
    </script>

    <script>
        load_projects({{ project.id }});
        load_num_analytics({{ project.id }}, '#num_analytic_s_{{ project.id }}');
        load_bool_analytics({{ project.id }}, '#analytics_bool_s_{{ project.id }}');
        load_list_analytics({{ project.id }}, '#analytics_list_s_{{ project.id }}');
    </script>

    <br>

    <div id="journal_div_{{ project.id }}">
        <table class="compact hover order-column cell-border" id="journal_table_{{ project.id }}">
            <thead>
            <tr>
                <th><i class="fa fa-check-square-o" aria-hidden="true"></i></th>
                <th>id</th>
                <th>Дата пуб</th>
{#                <th>Время пуб</th>#}
                <th>Тема</th>
                <th>Рубрика</th>
                <th>Заголовок</th>
                <th>Числовые аналитики</th>
                <th>Булевы аналитики</th>
                <th>Списочные аналитики</th>
                <th>Источник</th>
                <th>Источник город</th>
                <th>Источник тип</th>
                <th>Источник влиятельность</th>
                <th>Автор</th>
                <th>Охват</th>
                <th>Тональность</th>
                <th>Статус</th>
                <th>Примечание</th>
                <th>Дата, время загрузки в журнал</th>
                <th>Дата, время попадания в базу</th>
            </tr>
            </thead>
        </table>
    </div>


    <script>
    function get_xml_v2(pr_id) {
            var table = window['jt_' + pr_id];
            var rows = table.rows('.selected');
            var d = {
                "news": rows.ids().toArray()
            };
            var j = JSON.stringify(d);
            {#            console.log(d);#}
            $.ajax({
                dataType: "html",
                url: "/projects/make_xml/",
                {#                enctype: "multipart/form-data",#}
                type: "post",
                data: j,
                processData: false,
                error: function (data) {
                    alert('Ошибка получения списка проектов  \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                },
                success: function (data) {
                    var file = new File([data], "report_digest.xml", {type: "text/xml;charset=utf-8"});
                    saveAs(file);
                }
            });
        }
        function render_date(date) {
            var d = new Date(date);
            return $.format.date(d, 'yyyy-MM-dd HH:mm:ss')
        }

        var jt_{{ project.id }};
        $(document).ready(function () {
                jt_{{ project.id }} = $('#journal_table_{{ project.id }}').DataTable(
                    {

                        dom: 'Bfrtip',
                        buttons: {
                            buttons: [
                                'selectAll',
                                'selectNone',
                                'excelHtml5',
                                {
                                    text: 'XML',
                                    action: function (e, dt, node, config) {
                                        get_xml_v2({{ project.id }})
                                    }
                                },
                                'columnsToggle',
                                {
                                    text: 'Удалить',
                                    className: 'btn-danger-table',
                                    action: function (e, dt, node, config) {
                                        delete_selected_t("jt_{{ project.id }}")
                                    }
                                },
                                {
                                    text: 'Добавить',
                                    className: 'btn-success-table',
                                    action: function (e, dt, node, config) {
                                        load_modal_news_creation()
                                    }
                                }
                            ]
                        },
                        fnRowCallback: function (row, data, dataIndex) {
                            if (data.status) {
                                var r = $('tr', row);
                                r.prevObject['0'].style.color = data.status.color;
                                if (data.status.bold) {
                                    r.prevObject['0'].style.fontWeight = "bold";
                                }
                            }
                            if (data.tonality) {
                                var r = $('tr', row);
                                r.prevObject['0'].style.backgroundColor = data.tonality.color;
                            }
                        },
                        rowId: 'id',
                        scrollY: '70vh',
                        scrollX: true,
                        {#                        scrollCollapse: true,#}
                        paging: false,
                        AutoWidth: false,
                        ajax: {
                            url: '/api/project/{{ project.id }}/news/',
                            dataSrc: ''
                        },
                        columnDefs: [
                            {width: '75px', targets: 2},
{#                            {width: '75px', targets: 3},#}
                            {width: '400px', targets: 6},
                            {width: '200px', targets: 7},
                            {width: '200px', targets: 8},
                            {width: '200px', targets: 9}
                        ],
                        columns: [
                            {
                                data: null,
                                className: 'details-control',
                                orderable: false,
                                defaultContent: '<i class="fa fa-plus-square-o" aria-hidden="true"></i>'
                            },
                            {
                                data: 'id'
                            },
                            {
                                data: 'date_post',
                                className: 'td-small-s',
                                render: function (date) {
                                    if (date) {
                                        return render_date(date);
                                    } else {
                                        return ''
                                    }
                                }
                            },
{#                            {#}
{#                                data: 'date_post',#}
{#                                render: function (date) {#}
{#                                    if (date) {#}
{#                                        return date.substr(11, 5);#}
{#                                    } else {#}
{#                                        return ''#}
{#                                    }#}
{#                                }#}
{#                            },#}
                            {
                                data: 'theme_set',
                                render: function (theme) {
                                    if (theme.length > 0) {
                                        return theme[0].name
                                    } else {
                                        return ''
                                    }
                                }
                            },
                            {
                                data: 'rubric_set',
                                render: function (rubric) {
                                    if (rubric.length > 0) {
                                        return rubric[0].name
                                    } else {
                                        return ''
                                    }
                                }
                            },
                            {
                                data: null,
                                render: function (data) {
                                    return title_render(data)
                                }
                            },
                            {
                                data: 'paramnum_set',
                                render: function (an) {
                                    if (an) {
                                        return num_analytics(an)
                                    } else {
                                        return ''
                                    }
                                }
                            },
                            {
                                data: null,
                                render: function (data, type, full) {
                                    var an = {};
                                    an.false = data.p_news_false;
                                    an.true = data.p_news_true;
                                    if (an) {
                                        return bool_analytics(an)
                                    } else {
                                        return ''
                                    }
                                }
                            },
                            {
                                data: 'paramlist_set',
                                render: function (an) {
                                    if (an) {
                                        return list_analytics(an)
                                    } else {
                                        return ''
                                    }
                                }
                            },
                            {
                                data: 'source',
                                render: function (source) {
                                    if (source) {
                                        return source.name
                                    } else {
                                        return ''
                                    }
                                }
                            },
                            {
                                data: 'source.location',
                                render: function (location) {
                                    if (location) {
                                        return location.name
                                    } else {
                                        return ''
                                    }
                                }
                            },
                            {
                                data: 'source.smi_type',
                                render: function (smi_type) {
                                    if (smi_type) {
                                        return smi_type.name
                                    } else {
                                        return ''
                                    }
                                }
                            },
                            {
                                data: null,
                                defaultContent: ''
                            },
                            {
                                data: null,
                                defaultContent: ''
                            },
                            {
                                data: null,
                                defaultContent: ''
                            },
                            {
                                data: 'tonality',
                                render: function (tonality) {
                                    if (tonality) {
                                        return tonality.name
                                    } else {
                                        return ''
                                    }
                                }
                            },
                            {
                                data: 'status',
                                render: function (status) {
                                    if (status) {
                                        return status.name
                                    } else {
                                        return ''
                                    }
                                }
                            },
                            {
                                data: null,
                                defaultContent: ''
                            },
                            {
                                data: null,
                                defaultContent: ''
                            },
                            {
                                data: null,
                                defaultContent: ''
                            }
                        ]
                    }
                );

                {#                Тулбар #}
                {#                $('#journal_div_{{ project.id }} .toolbar').html(toolbar_render({{ project.id }}));#}

                {#                Выделение линий #}

                $('#journal_table_{{ project.id }} tbody').on('click', 'tr[role="row"]', function () {
                    $(this).toggleClass('selected');
                });

                {#                $('#button').click(function () {#}
                {#                    alert(jt_{{ project.id }}.rows('.selected').data().length + ' row(s) selected');#}
                {#                });#}
                {#показать\ скрыть подробности#}
                {#показать#}
                $('#journal_table_{{ project.id }} tbody').on('click', 'i.fa.fa-plus-square-o', function () {
                    var tr = $(this).closest('tr');
                    var row = jt_{{ project.id }}.row(tr);
                    {#                    console.log(row.data());#}

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        $(this).removeClass('fa-plus-square-o');
                        $(this).addClass('fa-minus-square-o');
                    }
                    else {
                        // Open this row
                        $.ajax({
                            dataType: 'html',
                            url: "/projects/news/" + row.data().id + "/get/detail/row",
                            type: 'get'
                        }).done(function (data) {
                            // Open this row
                            {#                            console.log(row);#}
                            row.child(data).show();
                            tr.addClass('shown');
                        });

                        {#                        row.child('<h1>Hello</h1>').show();#}
                        $(this).removeClass('fa-plus-square-o');
                        $(this).addClass('fa-minus-square-o');
                    }
                });
                {# Скрыть #}
                $('#journal_table_{{ project.id }} tbody').on('click', 'i.fa.fa-minus-square-o', function () {
                    var tr = $(this).closest('tr');
                    var row = jt_{{ project.id }}.row(tr);
                    if (row.child.isShown()) {
                        row.child.hide();
                        $(this).removeClass('fa-minus-square-o');
                        $(this).addClass('fa-plus-square-o');
                    }
                    else {
                        // Open this row
                        row.child('<h1>Hello</h1>').show();
                        $(this).removeClass('fa-plus-square-o');
                        $(this).addClass('fa-minus-square-o');
                    }
                });
                {#Показать\ скрыть колонки #}
                $('a.toggle-cols-{{ project.id }}').on('click', function (e) {
                    e.preventDefault();

                    // Get the column API object
                    var column = jt_{{ project.id }}.column($(this).attr('column'));

                    // Toggle the visibility
                    column.visible(!column.visible());
                    if ($(this).css('color') !== 'rgb(0, 0, 0)') {
                        $(this).css('color', 'black');
                    } else {
                        $(this).css('color', '#337ab7');
                    }

                });

                var prefs = JSON.parse(localStorage.getItem('prefs_{{ project.id }}'));
                var p;
                for (p in prefs) {
                    if (!prefs[p].val) {
                        var column = jt_{{ project.id }}.column(prefs[p].column_id);

                        // Toggle the visibility
                        column.visible(!column.visible());
                        $('a#' + p + '.toggle-cols-' + {{ project.id }}).css('color', 'black');
                    }
                }
            }
        )

    </script>


{% endblock %}