{% block list_param %}
    {% for p in params %}
        <tr id="list_param_{{ an.id }}_p_{{ p.id }}">
            <td>
                <val id="list_param_val_{{ p.id }}"></val>
                {{ p.name }}
                <a href="#"
                   onclick="del_object('/projects/analytics/list/param/del_one/{{ p.id }}', '#list_param_{{ an.id }}_p_{{ p.id }}')"
                   title="удалить параметр">
                    x
                </a>
                <a href="#" onclick="change_param_list({{ p.id }}, 'list_param_val_{{ p.id }}')"
                   title="переименовать">
                    <i class="fa fa-pencil-square" aria-hidden="true"
                       title="изменить занчение аналитики на противоположную"></i>
                </a>
            </td>
        </tr>

    {% endfor %}


{% endblock %}