{% block list_analytics_detail %}

    {% for an in analytics %}
        <div id="list_analytic_panel_{{ an.id }}" class="panel panel-success">
            <div class="panel-heading">

                <div class="col-md-8">
                    <a data-toggle="collapse" id="analytic_list_name_a_{{ an.id }}"
                       href="#list_analytic_{{ an.id }}">{{ an.name }}</a>

                </div>
                <div align="right">
                    <button class="btn btn-danger btn-xs"
                            onclick="del_object('/projects/analytics/list/del_one/{{ an.id }}', '#list_analytic_panel_{{ an.id }}')">
                        Удалить
                    </button>
                </div>
            </div>

            <div id="list_analytic_{{ an.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="#" onclick="renameListAnalytic({{ an.id }}, '#analytic_list_name_a_{{ an.id }}')"><i
                            class="fa fa-pencil-square-o"
                            aria-hidden="true"></i>
                        Переименовать Аналитику</a>
                    <hr>
                    Список параметров(тэгов):
                    <table class="table-responsive table-bordered" id="list_params_{{ an.id }}" style="max-width: 100%">
                        <tr>
                            <td>
                                <a href="#"
                                   onclick="addListParam('#list_params_{{ an.id }}', {{ an.id }})">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Добавить параметр
                                </a>
                            </td>
                        </tr>
                        {% for p in an.params.all %}
                            <tr id="list_param_{{ an.id }}_p_{{ p.id }}">
                                <td>
                                    <val id="list_param_val_{{ p.id }}">{{ p.name }}</val>
                                    <a href="#"
                                       onclick="del_object('/projects/analytics/list/param/del_one/{{ p.id }}', '#list_param_{{ an.id }}_p_{{ p.id }}')"
                                       title="удалить параметр">
                                        x
                                    </a>
                                    <a href="#" onclick="change_param_list({{ p.id }}, '#list_param_val_{{ p.id }}')"
                                       title="переименовать">
                                        <i class="fa fa-pencil-square" aria-hidden="true"
                                           title="изменить занчение аналитики на противоположную"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>


                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}