{% block num_analytics_detail %}

    {% for an in analytics %}
        <div id="num_analytic_panel_{{ an.id }}" class="panel panel-success">
            <div class="panel-heading">

                <div class="col-md-8">
                    <a data-toggle="collapse" id="analytic_name_a_{{ an.id }}"
                       href="#num_analytic_{{ an.id }}">{{ an.name }}</a>

                </div>
                <div align="right">
                    <button class="btn btn-danger btn-xs"
                            onclick="del_object('/projects/num_analytics/del_one/{{ an.id }}', '#num_analytic_panel_{{ an.id }}')">
                        Удалить
                    </button>
                </div>
            </div>

            <div id="num_analytic_{{ an.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="#" onclick="renameNumAnalytic({{ an.id }}, '#analytic_name_a_{{ an.id }}')"><i
                            class="fa fa-pencil-square-o"
                            aria-hidden="true"></i>
                        Переименовать Аналитику</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}