{% block project_news_detail %}

    <!DOCTYPE html>
    <html lang="en">

    {% include 'crowler/head/head.html' %}
    {% load staticfiles %}
    <script src="{% static 'crowler/js/project_news_detail.js' %}"></script>

    <body>
    <div id="page-wrapper">

        <div class="container-fluid">
            {#            <div class="row">#}
            <h3>{{ news.title }}
                <small>(<a target="_blank" href="{{ news.url }}">Источник</a>) {{ news.date_post|date:"d/m/Y H:i" }}
                </small>
            </h3>
            <div align="center">
                <a href="#origin_text" data-toggle="collapse"><h4>Оригинал статьи</h4></a>

                <p class="collapse" name="origin_text" id="origin_text"
                   style="width: 80%;">{{ news.origin.text }}</p>

            </div>

            <div align="center">
                <h3>Текст скопированой новости</h3>
                <textarea name="p_news_text" id="p_news_text" cols="" rows="10"
                          style="width: 80%;">{{ news.text }}</textarea>

                <div align="right" style="width: 80%;">
                    <button class="btn btn-danger btn-xs" onclick="save_text('#p_news_text', {{ news.id }})">Сохранить
                    </button>
                </div>
            </div>

            <div align="center">
                <a href="#p_news_annotation" data-toggle="collapse"><h3>Аннотация</h3></a>
                <div id="p_news_annotation" class="collapse">
                    <textarea name="p_news_annotation_textarea" id="p_news_annotation_textarea" cols="" rows="10"
                              style="width: 80%;">{{ news.annotation }}</textarea>
                    <div align="right" style="width: 80%;">
                        <button class="btn btn-danger btn-xs"
                                onclick="save_annotation('#p_news_annotation_textarea', {{ news.id }})">Сохранить
                        </button>
                    </div>
                </div>


            </div>

            <div align="center"><h3>Проекты/Темы/Рубрики</h3></div>

            <div align="center">
                <h3><a href="#analytics" data-toggle="collapse">Аналитики</a></h3>
                <div id="analytics" class="collapse" style="width: 80%;">
                    <div class="col-md-4">

                        <h4>Числовые</h4>

                        <table id="table_num" class="table table-bordered">
                            {% for n in analytics.nums %}
                                <tr id="param_num_{{ n.id }}">
                                    <td>{{ n.analyticnum__name }} ({{ n.num }}) <a href="#"
                                                                                   onclick="del_object('/projects/news/param/num/del/one/{{ n.id }}', '#param_num_{{ n.id }}' )">X</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <!-- Добавление Числовых аналитик -->
                        <div class="panel-success">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#add_num_analytics">Добавление числовых аналитик</a>
                            </div>
                        </div>

                        <div id="add_num_analytics" class="panel-collapse collapse">

                            <table class="table table-responsive table-bordered td-small">
                                <thead>
                                <th>Аналитика:</th>
                                <th>Параметр:</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <select id="num_analytic_a">
                                        </select>
                                    </td>
                                    <td><input id="analytics_num_p" type="number"></td>
                                </tr>
                                </tbody>
                            </table>

                            <button class="btn btn-danger btn-xs"
                                    onclick="add_num_param_one('#num_analytic_a', '#analytics_num_p', {{ news.id }})">
                                Добавить
                            </button>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <h4>Булевы</h4>

                        <table id="table_bool" class="table table-bordered">
                            {% for b in analytics.bools %}
                                <tr id="param_bool_{{ b.id }}">
                                    <td>{{ b.name }} ({{ b.name_negative }}{{ b.name_positive }}) <a href="#"
                                                                                   onclick="del_object('/projects/news/param/bool/del/one/{{ news.id }}/{{ b.id }}', '#param_bool_{{ b.id }}' )">X</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <!-- Добавление Булевых аналитик -->
                        <div class="panel-success">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#add_bool_analytics">Добавление булевых
                                    аналитик</a>
                            </div>

                            <div id="add_bool_analytics" class="panel-collapse collapse">
                                <table class="table table-responsive table-bordered td-small">
                                    <thead>
                                    <th>Аналитика:</th>
                                    <th>Параметр:</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <select id="bool_analytic_s" onchange="load_bool_params('#bool_analytic_s', '#bool_analytics_p')">
                                            </select>
                                        </td>
                                        <td><select id="bool_analytics_p"></select></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-danger btn-xs"
                                        onclick="add_bool_param_one('#bool_analytics_p', '#bool_analytic_s', {{ news.id }})">
                                    Добавить
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <h4>Списочные</h4>

                        <table id="table_list" class="table table-bordered">
                            {% for l in analytics.lists %}
                                <tr id="param_list_{{ l.id }}">
                                    <td>{{ l.analyticlist__name }} ({{ l.name }}) <a href="#"
                                                                                   onclick="del_object('/projects/news/param/list/del/one/{{ news.id }}/{{ l.id }}', '#param_list_{{ l.id }}' )">X</a></td>
                                </tr>

                            {% endfor %}
                        </table>
                        <!-- Добавление Списочных аналитик -->
                        <div class="panel-success">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#add_list_analytics">Добавление списочных
                                    аналитик</a>
                            </div>

                            <div id="add_list_analytics" class="panel-collapse collapse">
                                <table class="table table-responsive table-bordered td-small">
                                    <thead>
                                    <th>Аналитика:</th>
                                    <th>Параметр:</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <select id="list_analytic_a" onchange="load_list_params('#list_analytic_a', '#list_analytic_p')">
                                            </select>
                                        </td>
                                        <td>
                                            <select id="list_analytic_p">
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-danger btn-xs"
                                        onclick="add_list_param_one('#list_analytic_a', '#list_analytic_p', {{ news.id }})">
                                    Добавить
                                </button>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <script>
                load_num_analytics({{ news.project_set.first.id }}, '#num_analytic_s');
                load_bool_analytics({{ news.project_set.first.id }}, '#bool_analytic_s');
                load_list_analytics({{ news.project_set.first.id }}, '#list_analytic_a');
            </script>

            <br>
            <!-- /#wrapper -->
            {% load staticfiles %}
            <!-- jQuery -->
        </div>
    </div>
    </body>
    </html>

{% endblock %}