{% block projects_detail %}
    {% load staticfiles %}
    <script src="{% static 'crowler/js/project.js' %}"></script>
    <script src="{% static 'crowler/js/journal.js' %}"></script>

    {% for project in projects %}
        <div id="row_{{ project.id }}" class="row">
            <div class="col-lg-12">
                <div class="panel-info">
                    <div class="panel-heading">
                        <a class="col-md-3" data-toggle="collapse" id="project_name_a_{{ project.id }}"
                           href="#project_{{ project.id }}">{{ project.name }}</a>
                        <div align="right">
                            <button class="btn btn-danger btn-xs"
                                    onclick="del_object('/projects/del_one/{{ project.id }}', '#row_{{ project.id }}')">
                                Удалить проект
                            </button>
                        </div>
                    </div>
                    <div id="project_{{ project.id }}" class="panel-collapse collapse">
                        <div class="panel-body">

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#prefences_{{ project.id }}">Настройки</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#journal_{{ project.id }}"
                                       onclick="getJournal({{ project.id }}, '#journal_{{ project.id }}')">Журнал</a>
                                </li>
                                <li><a data-toggle="tab" href="#search_{{ project.id }}">Отбор</a></li>
                            </ul>

                            <div class="tab-content">
                                <!-- Настройки -->
                                <div id="prefences_{{ project.id }}" class="tab-pane fade in active">
                                    <div class="container">
                                        <ul class="nav nav-pills nav-stacked col-md-2">
                                            <li class="active">
                                                <a data-toggle="pill" href="#common_{{ project.id }}">Общее</a>
                                            </li>
                                            <li><a data-toggle="pill" href="#themes_{{ project.id }}">Темы</a></li>
                                            <li><a data-toggle="pill" href="#analytics_{{ project.id }}">Аналитика</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content col-md-9">

                                            <!-- Общее -->
                                            <div id="common_{{ project.id }}" class="tab-pane fade in active">
                                                Название проекта: <strong
                                                    id="project_name_s_{{ project.id }}">{{ project.name }}</strong>
                                                (
                                                <a href="#"
                                                   onclick="renameProject({{ project.id }}, ['#project_name_s_{{ project.id }}', '#project_name_a_{{ project.id }}'])"><i
                                                        class="fa fa-pencil-square-o" aria-hidden="true"></i>Переименовать
                                                </a>
                                                )
                                                <hr>

                                                Колонки видимые по умолчанию:
                                                <div id="pref_columns_{{ project.id }}"></div>
                                                <div align="right">
                                                    <button class="btn-danger"
                                                            onclick="save_cols_prefs({{ project.id }})">Сохранить
                                                    </button>
                                                    <button class="btn-warning"
                                                            onclick="drop_prefs({{ project.id }})">Сбросить
                                                    </button>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">Статусы:</div>
                                                            <div class="panel-body">
                                                                <div id="statuses_{{ project.id }}" class="table">
                                                                    <div class="row table-bordered">
                                                                        <div class="col-xs-4">Имя</div>
                                                                        <div class="col-xs-1">Цвет</div>
                                                                        <div class="col-xs-2">Жирный текст</div>
                                                                        <div class="col-xs-2">Запрет редактирования
                                                                        </div>
                                                                        <div class="col-xs-3">Действия</div>
                                                                    </div>
                                                                    {% for status in project.statuses.all %}
                                                                        <form id="status_form_{{ status.id }}">
                                                                            <input id="id_project" name="project"
                                                                                   type="hidden"
                                                                                   value="{{ project.id }}">
                                                                            <input id="id_status" name="status"
                                                                                   type="hidden"
                                                                                   value="{{ status.id }}">
                                                                            {% csrf_token %}
                                                                            <div class="row table-bordered">
                                                                                <div class="col-xs-4"><input
                                                                                        id="id_name" maxlength="50"
                                                                                        name="name" type="text" required
                                                                                        value="{{ status.name }}">
                                                                                </div>
                                                                                <div class="col-xs-1"><input
                                                                                        id="id_color" maxlength="20"
                                                                                        name="color" type="color"
                                                                                        required
                                                                                        value="{{ status.color }}">
                                                                                </div>
                                                                                <div class="col-xs-2">
                                                                                    <input id="id_bold" name="bold"
                                                                                           type="checkbox"
                                                                                            {% if status.bold %}
                                                                                           checked
                                                                                            {% endif %}>
                                                                                </div>
                                                                                <div class="col-xs-2">
                                                                                    <input id="id_editable"
                                                                                           name="editable"
                                                                                           type="checkbox"
                                                                                            {% if status.editable %}
                                                                                           checked
                                                                                            {% endif %}>
                                                                                </div>
                                                                                <div class="col-xs-3">
                                                                                    <input class="btn-success btn-xs"
                                                                                           type="submit"
                                                                                           onclick="update_status('#status_form_{{ status.id }}')"
                                                                                           value="Сохранить">
                                                                                    <input class="btn-danger btn-xs"
                                                                                           type="submit"
                                                                                           onclick="del_status('#status_form_{{ status.id }}')"
                                                                                           value="Удалить">
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    {% endfor %}
                                                                </div>
                                                                <a href="#" onclick="add_status_form({{ project.id }})">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                                    Добавить статус
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <script>
                                                        function del_status(status_tag) {
                                                            function ds(sf) {
                                                                var d = $(sf).serializeObject();
                                                                console.log(d);
                                                                return $.ajax({
                                                                    dataType: "json",
                                                                    url: "/api/project/status/delete/",
                                                                    type: "delete",
                                                                    data: d,
                                                                    error: function (data) {
                                                                        alert('Статус не удален. \n Ошибка: ' + data.responseJSON.detail)
                                                                    },
                                                                    beforeSend: function (xhr) {
                                                                        xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                                                                    },
                                                                    success: function () {
                                                                        $(status_tag).remove();
                                                                        alert('Статус удален')
                                                                    }

                                                                })
                                                            }

                                                            event.preventDefault();
                                                            if (confirm('Подтвердите удаление! \n После удаления объекта восстановить его НЕВОЗМОЖНО!\n После удаления объекта восстановить его НЕВОЗМОЖНО! ')) {
                                                                ds(status_tag).done(function (data) {
                                                                    console.log(data);
                                                                })
                                                            }


                                                        }

                                                        function update_status(status_tag) {

                                                            function us(sf) {
                                                                var d = $(sf).serializeObject();
                                                                console.log(d);
                                                                console.log(sf);
                                                                return $.ajax({
                                                                    dataType: "json",
                                                                    url: "/api/project/status/update/",
                                                                    type: "put",
                                                                    data: d,
                                                                    error: function (data) {
                                                                        alert('Статус не сохранен. \n Ошибка: ' + data.responseJSON.detail)
                                                                    },
                                                                    beforeSend: function (xhr) {
                                                                        xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                                                                    },
                                                                    success: function () {
                                                                        alert('Статус обновлен')
                                                                    }

                                                                })
                                                            }

                                                            event.preventDefault();
                                                            us(status_tag).done(function (data) {
                                                                console.log(data);

                                                            })

                                                        }

                                                        function render_status(data) {
                                                            var project = data.project_set[0],
                                                                status = data,
                                                                token = "{{ csrf_token }}";
                                                            if (status.bold) {
                                                                status.bold = 'checked'
                                                            } else
                                                                status.bold = '';

                                                            if (status.editable) {
                                                                status.editable = 'checked'
                                                            } else
                                                                status.editable = '';
                                                            console.log(status.name);
                                                            var tpl =
                                                                '<form id="status_form_' + status.id + '">'
                                                                + '<input id="id_project" name="project" type="hidden" value="' + project.id + '">'
                                                                + '<input id="id_status" name="status" type="hidden" value="' + status.id + '">'
                                                                + '<input type="hidden" name="csrfmiddlewaretoken" value="' + token + '">'
                                                                + '<div class="row table-bordered">'
                                                                + '<div class="col-xs-4"><input id="id_name" maxlength="50" name="name" type="text" required value="' + status.name + '">'
                                                                + '</div>'
                                                                + '<div class="col-xs-1"><input id="id_color" maxlength="20" name="color" type="color" required value="' + status.color + '">'
                                                                + '</div>'
                                                                + '<div class="col-xs-2">'
                                                                + '<input id="id_bold" name="bold" type="checkbox" ' + status.bold + '>'
                                                                + '</div>'
                                                                + '<div class="col-xs-2">'
                                                                + '<input id="id_editable" name="editable" type="checkbox"' + status.editable + '>'
                                                                + '</div>'
                                                                + '<div class="col-xs-3">'
                                                                + '<input class="btn-success btn-xs" type="submit" onclick="update_status(\'#status_form_' + status.id + '\')" value="Сохранить">'
                                                                + '<input class="btn-danger btn-xs" type="submit" onclick="del_status(\'#status_form_' + status.id + '\')" value="Удалить">'
                                                                + '</div>'
                                                                + '</div>'
                                                                + '</form>';

                                                            return tpl
                                                        }

                                                        function add_status(sf) {
                                                            var d = $(sf).serializeObject();
                                                            console.log(d);
                                                            console.log(sf);
                                                            return $.ajax({
                                                                dataType: "json",
                                                                url: "/api/project/status/create/",
                                                                type: "post",
                                                                data: d,
                                                                error: function (data) {
                                                                    alert('Статус не добавлен. \n Ошибка: ' + data.responseJSON.detail)
                                                                },
                                                                beforeSend: function (xhr) {
                                                                    xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                                                                },
                                                                success: function (data) {
                                                                    alert('Статус добавлен');
                                                                    console.log(data);
                                                                    sf.replaceWith(render_status(data))

                                                                }
                                                            })
                                                        }

                                                        function add_status_form(project_id) {
                                                            event.preventDefault();
                                                            var token = "{{ csrf_token }}";
                                                            var tpl =
                                                                '<form>'
                                                                + '<input id="id_project" name="project" type="hidden" value="' + project_id + '">'
                                                                + '<input type="hidden" name="csrfmiddlewaretoken" value="' + token + '">'
                                                                + '<div class="row table-bordered">'
                                                                + '<div class="col-xs-4"><input id="id_name" maxlength="50" name="name" type="text" required value="">'
                                                                + '</div>'
                                                                + '<div class="col-xs-1"><input id="id_color" maxlength="20" name="color" type="color" required value="">'
                                                                + '</div>'
                                                                + '<div class="col-xs-2">'
                                                                + '<input id="id_bold" name="bold" type="checkbox">'
                                                                + '</div>'
                                                                + '<div class="col-xs-2">'
                                                                + '<input id="id_editable" name="editable" type="checkbox">'
                                                                + '</div>'
                                                                + '<div class="col-xs-3">'
                                                                + '<input class="btn-success btn-xs js-add-status" type="submit" value="Добавить">'
                                                                + '</div>'
                                                                + '</div>'
                                                                + '</form>';
                                                            $("#statuses_" + project_id).append(tpl)
                                                            $('.js-add-status').on('click', function () {
                                                                event.preventDefault();
                                                                var f = $(this).closest('form');
                                                                add_status(f);

                                                            });

                                                        }
                                                    </script>
                                                    {#Тональность#}
                                                    <div class="col-md-12">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">Тональность:</div>
                                                            <div class="panel-body">
                                                                <div id="tonalities_{{ project.id }}" class="table">
                                                                    <div class="row table-bordered">
                                                                        <div class="col-xs-4">Имя</div>
                                                                        <div class="col-xs-1">Цвет</div>
                                                                        <div class="col-xs-3">Действия</div>
                                                                    </div>
                                                                    {% for ton in project.tonalities.all %}
                                                                        <form id="tonality_form_{{ ton.id }}">
                                                                            <input id="id_project" name="project"
                                                                                   type="hidden"
                                                                                   value="{{ project.id }}">
                                                                            <input id="id_tonality" name="tonality"
                                                                                   type="hidden" value="{{ ton.id }}">
                                                                            {% csrf_token %}
                                                                            <div class="row table-bordered">
                                                                                <div class="col-xs-4"><input
                                                                                        id="id_name" maxlength="50"
                                                                                        name="name" type="text" required
                                                                                        value="{{ ton.name }}">
                                                                                </div>
                                                                                <div class="col-xs-1"><input
                                                                                        id="id_color" maxlength="20"
                                                                                        name="color" type="color"
                                                                                        required
                                                                                        value="{{ ton.color }}">
                                                                                </div>
                                                                                <div class="col-xs-3">
                                                                                    <input class="btn-success btn-xs"
                                                                                           type="submit"
                                                                                           onclick="update_tonality('#tonality_form_{{ ton.id }}')"
                                                                                           value="Сохранить">
                                                                                    <input class="btn-danger btn-xs"
                                                                                           type="submit"
                                                                                           onclick="del_tonality('#tonality_form_{{ ton.id }}')"
                                                                                           value="Удалить">
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    {% endfor %}
                                                                </div>

                                                                <a href="#"
                                                                   onclick="add_tonality_form({{ project.id }})">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                                    Добавить тональность
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <script>
                                                        function del_tonality(tonality_tag) {
                                                            function dt(tf) {
                                                                var d = $(tf).serializeObject();
                                                                console.log(d);
                                                                return $.ajax({
                                                                    dataType: "json",
                                                                    url: "/api/project/tonality/delete/",
                                                                    type: "delete",
                                                                    data: d,
                                                                    error: function (data) {
                                                                        alert('Тональность не удалена. \n Ошибка: ' + data.responseJSON.detail)
                                                                    },
                                                                    beforeSend: function (xhr) {
                                                                        xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                                                                    },
                                                                    success: function () {
                                                                        $(tonality_tag).remove();
                                                                        alert('Тональность удалена')
                                                                    }
                                                                })
                                                            }

                                                            event.preventDefault();
                                                            if (confirm('Подтвердите удаление! \n После удаления объекта восстановить его НЕВОЗМОЖНО!\n После удаления объекта восстановить его НЕВОЗМОЖНО! ')) {
                                                                dt(tonality_tag).done(function (data) {
                                                                    console.log(data);
                                                                })
                                                            }
                                                        }

                                                        function update_tonality(tonality_tag) {

                                                            function ut(tf) {
                                                                var d = $(tf).serializeObject();
                                                                console.log(d);
                                                                console.log(tf);
                                                                return $.ajax({
                                                                    dataType: "json",
                                                                    url: "/api/project/tonality/update/",
                                                                    type: "put",
                                                                    data: d,
                                                                    error: function (data) {
                                                                        alert('Тональность не сохранена. \n Ошибка: ' + data.responseJSON.detail)
                                                                    },
                                                                    beforeSend: function (xhr) {
                                                                        xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                                                                    },
                                                                    success: function () {
                                                                        alert('Тональность обновлена')
                                                                    }
                                                                })
                                                            }

                                                            event.preventDefault();
                                                            ut(tonality_tag).done(function (data) {
                                                                console.log(data);
                                                            })
                                                        }

                                                        function render_tonality(data) {
                                                            var project = data.project_set[0],
                                                                tonality = data,
                                                                token = "{{ csrf_token }}";
                                                            console.log(tonality.name);
                                                            var tpl =
                                                                '<form id="tonality_form_' + tonality.id + '">'
                                                                + '<input id="id_project" name="project" type="hidden" value="' + project.id + '">'
                                                                + '<input id="id_tonality" name="tonality" type="hidden" value="' + tonality.id + '">'
                                                                + '<input type="hidden" name="csrfmiddlewaretoken" value="' + token + '">'
                                                                + '<div class="row table-bordered">'
                                                                + '<div class="col-xs-4"><input id="id_name" maxlength="50" name="name" type="text" required value="' + tonality.name + '">'
                                                                + '</div>'
                                                                + '<div class="col-xs-1"><input id="id_color" maxlength="20" name="color" type="color" required value="' + tonality.color + '">'
                                                                + '</div>'
                                                                + '<div class="col-xs-3">'
                                                                + '<input class="btn-success btn-xs" type="submit" onclick="update_tonality(\'#tonality_form_' + tonality.id + '\')" value="Сохранить">'
                                                                + '<input class="btn-danger btn-xs" type="submit" onclick="del_tonality(\'#tonality_form_' + tonality.id + '\')" value="Удалить">'
                                                                + '</div>'
                                                                + '</div>'
                                                                + '</form>';

                                                            return tpl
                                                        }

                                                        function add_tonality(tf) {
                                                            var d = $(tf).serializeObject();
                                                            console.log(d);
                                                            console.log(tf);
                                                            return $.ajax({
                                                                dataType: "json",
                                                                url: "/api/project/tonality/create/",
                                                                type: "post",
                                                                data: d,
                                                                error: function (data) {
                                                                    alert('Тональность не добавлена. \n Ошибка: ' + data.responseJSON.detail)
                                                                },
                                                                beforeSend: function (xhr) {
                                                                    xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                                                                },
                                                                success: function (data) {
                                                                    alert('Тональность добавлена');
                                                                    console.log(data);
                                                                    tf.replaceWith(render_tonality(data))
                                                                }
                                                            })
                                                        }

                                                        function add_tonality_form(project_id) {
                                                            event.preventDefault();
                                                            var token = "{{ csrf_token }}";
                                                            var tpl =
                                                                '<form>'
                                                                + '<input id="id_project" name="project" type="hidden" value="' + project_id + '">'
                                                                + '<input type="hidden" name="csrfmiddlewaretoken" value="' + token + '">'
                                                                + '<div class="row table-bordered">'
                                                                + '<div class="col-xs-4"><input id="id_name" maxlength="50" name="name" type="text" required value="">'
                                                                + '</div>'
                                                                + '<div class="col-xs-1"><input id="id_color" maxlength="20" name="color" type="color" required value="">'
                                                                + '</div>'
                                                                + '<div class="col-xs-3">'
                                                                + '<input class="btn-success btn-xs js-add-tonality" type="submit" value="Добавить">'
                                                                + '</div>'
                                                                + '</div>'
                                                                + '</form>';
                                                            $("#tonalities_" + project_id).append(tpl)
                                                            $('.js-add-tonality').on('click', function () {
                                                                event.preventDefault();
                                                                var f = $(this).closest('form');
                                                                add_tonality(f);
                                                            });
                                                        }
                                                    </script>
                                                </div>
                                            </div>
                                            <script>
                                                cols_prefenses_render({{ project.id }})

                                            </script>

                                            <!-- Темы -->
                                            <div id="themes_{{ project.id }}" class="tab-pane fade">
                                                <a href="#" onclick="addTheme({{ project.id }})">
                                                    <i class="fa fa-plus" aria-hidden="true"></i> Создать новую тему
                                                </a>
                                                <div id="themes_list_{{ project.id }}"></div>
                                            </div>
                                            <script>
                                                getThemes({{ project.id }}, "#themes_list_{{ project.id }}")
                                            </script>

                                            <!-- Аналитика -->
                                            <div id="analytics_{{ project.id }}" class="tab-pane fade">
                                                <!-- Числовые -->
                                                <div class="col-md-4">
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading">
                                                            <a data-toggle="collapse"
                                                               href="#analytics_num_{{ project.id }}">Числовыеаналитики</a>
                                                        </div>
                                                        <div id="analytics_num_{{ project.id }}"
                                                             class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <a href="#"
                                                                   onclick="addNumAnalytic('#analytics_num_b_{{ project.id }}', {{ project.id }})">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                                    Создать новую аналитику
                                                                </a>
                                                                <div id='analytics_num_b_{{ project.id }}'></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <script>
                                                    getNumAnalytics({{ project.id }}, "#analytics_num_b_{{ project.id }}")
                                                </script>
                                                <!-- Булевы -->
                                                <div class="col-md-4">
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading">
                                                            <a data-toggle="collapse"
                                                               href="#analytcs_bool_{{ project.id }}">Булевы
                                                                аналитики</a>
                                                        </div>
                                                        <div id="analytcs_bool_{{ project.id }}"
                                                             class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <a href="#"
                                                                   onclick="addBoolAnalytic('#analytics_bool_b_{{ project.id }}', {{ project.id }})">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                                    Создать новую аналитику
                                                                </a>
                                                                <div id='analytics_bool_b_{{ project.id }}'></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    getBoolAnalytics({{ project.id }}, "#analytics_bool_b_{{ project.id }}")
                                                </script>
                                                <!-- Списочные -->
                                                <div class="col-md-4">
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading">
                                                            <a data-toggle="collapse"
                                                               href="#analytcs_list_{{ project.id }}">
                                                                Списочные аналитики
                                                            </a>
                                                        </div>
                                                        <div id="analytcs_list_{{ project.id }}"
                                                             class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <a href="#"
                                                                   onclick="addListAnalytic('#analytics_list_l_{{ project.id }}', {{ project.id }})">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                                    Создать новую аналитику
                                                                </a>
                                                                <div id='analytics_list_l_{{ project.id }}'></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    getListAnalytics({{ project.id }}, "#analytics_list_l_{{ project.id }}")
                                                </script>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="journal_{{ project.id }}" class="tab-pane fade">
                                </div>
                                <div id="search_{{ project.id }}" class="tab-pane fade">
                                    <h3>Отбор</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                        accusantium doloremque laudantium, totam rem aperiam.</p>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- /.row -->


        </div>
    {% endfor %}



{% endblock %}