{% block projectnews_form %}
{#    <button type="button" class="btn-sm btn-danger" data-dismiss="modal">Закрыть</button>#}
    <div align="center">
    <h3>Добавление Источника</h3>
    </div>
    <form id="form" action="/projects/news/create/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Сохранить"/>
    </form>


{% endblock %}