{% block project_news_creation %}
    <div>
        <form>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="news" value="{{ news.id }}">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>id:</strong>
                                </div>
                                <div class="col-md-9">
                                    {{ news.id }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>дата:</strong>
                                </div>
                                <div class="col-md-9">
                                    <input id="datetime_picker" required name="date" type="text"
                                           value="{{ news.date_post|date:'d-m-Y H:m' }} GMT{{ news.date_post|date:'O' }}">
                                </div>
                                <script>
                                    $.datetimepicker.setLocale('ru');
                                    $('#datetime_picker').datetimepicker({
                                        format: 'd-m-Y H:m T'
                                    })
                                </script>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><strong>url:</strong></div>
                                <div class="col-md-9"><input name="url" type="url" value="{{ news.url }}"> <a
                                        href="{{ news.url }}" target="_blank">Перейти</a></div>
                            </div>
                            {# Источники #}
                            <div class="row">
                                <div class="col-md-3"><strong>Источник:</strong></div>
                                <div class="col-md-9"><select id="source_list" name="source">
                                    {% for source in sources %}
                                        <option value={{ source.id }}
                                                        {% if source.id == news.source.id %}
                                                            selected
                                                        {% endif %}
                                        >{{ source.name }}</option>
                                    {% endfor %}

                                </select></div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            {# Проекты #}
                            <div class="row">
                                <div class="col-md-3"><strong>Проект:</strong></div>
                                <div class="col-md-9"><select name="project" id="project_list"
                                                              class="js-theme-get">
                                    {% for project in projects %}
                                        <option value={{ project.id }}
                                                        {% if project.id == news.project_set.first.id %}
                                                            selected
                                                        {% endif %}
                                        >{{ project.name }}</option>
                                    {% endfor %}
                                </select></div>
                            </div>
                            {# Темы #}
                            <div class="row">
                                <div class="col-md-3"><strong>Тема:</strong></div>
                                <div class="col-md-9"><select name="theme" id="theme_list"
                                                              class="js-rubric-get"></select></div>
                            </div>
                            {# Рубрики #}
                            <div class="row">
                                <div class="col-md-3"><strong>Рубрика:</strong></div>
                                <div class="col-md-9"><select name="rubric" id="rubric_list"></select></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <strong>Заголовок:</strong>
                        <textarea name="title" rows="1" cols="" style="width: 100%">{{ news.title }}</textarea>
                    </div>
                    <div class="col-md-12">
                        <strong>Аннотация:</strong>
                        <textarea name="annotation" rows="3" cols=""
                                  style="width: 100%">{{ news.annotation }}</textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <strong>Teкст:</strong>
                            <textarea name="text" rows="5" cols="" style="width: 100%">{{ news.text }}</textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <strong>Примечание:</strong>
                            <textarea name="note" rows="2" cols="" style="width: 100%">{{ news.note }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    {#                        статусы #}
                    <div class="panel panel-default ">
                        <div class="panel-heading"><a class="collapse-a" href="#">Статус:</a></div>
                        <div class="panel-collapse collapse" aria-expanded="true">
                            <div class="panel-body" id="status_list">
                                {% for status in project.statuses.all %}
                                    <div>
                                        <div class="col-md-10"><input type="radio" name="status" value="{{ status.id }}"
                                                                      {% if news.status.id == status.id %}checked{% endif %}
                                        >
                                            {{ status.name }}</div>
                                        <div class="col-md-2 small-text" style="background-color: {{ status.color }}">
                                            *
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    {#                        тональность #}
                    <div class="panel panel-default">
                        <div class="panel-heading"><a class="collapse-a" href="#">Тональность:</a></div>
                        <div class="panel-collapse collapse">
                            <div class="panel-body" id="tonality_list">
                                {% for tonality in project.tonalities.all %}
                                    <div>
                                        <div class="col-md-10"><input type="radio" name="tonality"
                                                                      value="{{ tonality.id }}"
                                                {% if news.tonality.id == tonality.id %}
                                                                      checked
                                                {% endif %}
                                        >
                                            {{ tonality.name }}
                                        </div>
                                        <div class="col-md-2 small-text" style="background-color: {{ tonality.color }}">
                                            *
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {#                        Числовые #}
                    <div class="panel panel-default ">
                        <div class="panel-heading"><a class="collapse-a" href="#">Числовые аналитики:</a></div>
                        <div class="panel-collapse collapse" aria-expanded="true">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-5"><select style="width: 100%" name="analytic_add_num"
                                                                  id="analytic_num_list"></select></div>
                                    <div class="col-md-7"><input type="number" name="analytic_num_val"></div>
                                    <div class="col-md-3">
                                        <button class="btn btn-danger btn-xs js-analytic-num-add">Добавить</button>
                                    </div>
                                </div>
                                <hr>
                                <div id="analytic_num_added">
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                        Списочные #}
                    <div class="panel panel-default ">
                        <div class="panel-heading"><a class="collapse-a" href="#">Списочные:</a></div>
                        <div class="panel-collapse collapse" aria-expanded="true">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-5"><select style="width: 100%" name="analytic_list"
                                                                  id="analytic_list_list"
                                                                  class="js-analytic-list-params"></select></div>
                                    <div class="col-md-7"><select id="analytic_list_values_list"
                                                                  name="analytic_list_val"></select></div>
                                    <div class="col-md-3">
                                        <button class="btn btn-danger btn-xs js-analytic-list-add">Добавить</button>
                                    </div>
                                </div>
                                <hr>
                                <div id="analytic_list_added">
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                        Булевы #}
                    <div class="panel panel-default ">
                        <div class="panel-heading"><a class="collapse-a" href="#">Булевы:</a></div>
                        <div class="panel-collapse collapse" aria-expanded="true">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-5"><select style="width: 100%" name="analytic_bool"
                                                                  id="analytic_bool_list"
                                                                  class="js-analytic-bool-params"></select></div>
                                    <div class="col-md-7"><select id="analytic_bool_values_list"
                                                                  name="analytic_bool_val"></select></div>
                                    <div class="col-md-3">
                                        <button class="btn btn-danger btn-xs js-analytic-bool-add">Добавить</button>
                                    </div>
                                </div>
                                <hr>
                                <div id="analytic_bool_added">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn-success js-news-update" data-dismiss="modal">сохранить</button>
                </div>
                <div class="col-md-6">
                    <button class="btn-danger" data-dismiss="modal">отмена</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        var nums = {};
        var bools = {};
        var lists = {};
        var cur_news;

        function render_cur_analytics() {
            console.log('render_cur_analytics');
            cleanup_analytics();
            {# Берем числовые аналитики #}
            if (cur_news.paramnum_set.length > 0) {
                var container = $('#analytic_num_added');
                var pr = cur_news.paramnum_set;
                pr.forEach(function (key, index) {
                    var id = pr[index].analyticnum_set[0].id.toString();
                    var param = {
                        'id': pr[index].analyticnum_set[0].id,
                        'value': pr[index].num.toString(),
                        'name': pr[index].analyticnum_set[0].name
                    };
                    nums[id] = param;
                });
                container.html('');
                Object.keys(nums).forEach(function (key, index) {
                    container.append(analytic_num_added_render(nums[key]));
                });
            }
            {# Берем списочные аналитики #}
            if (cur_news.paramlist_set.length > 0) {
                var container = $('#analytic_list_added');
                var pr = cur_news.paramlist_set;
                pr.forEach(function (key, index) {
                    var id = pr[index].analyticlist_set[0].id.toString();
                    var value = pr[index].id.toString();
                    var param = {
                        'id': id,
                        'value': value,
                        'name': pr[index].analyticlist_set[0].name,
                        'value_name': pr[index].name
                    };
                    lists[value] = param;
                });
                container.html('');
                Object.keys(lists).forEach(function (key, index) {
                    container.append(analytic_list_added_render(lists[key]));
                });
            }
            {# Берем булевы аналитики #}
            var container = $('#analytic_bool_added');
            if (cur_news.p_news_false.length > 0) {
                var pr = cur_news.p_news_false;
                pr.forEach(function (key, index) {
                    var id = pr[index].id.toString();
                    var value = 'false';
                    var param = {
                        'id': id,
                        'value': value,
                        'name': pr[index].name,
                        'value_name': pr[index].name_negative
                    };
                    bools[id] = param;
                });
            }
            if (cur_news.p_news_true.length > 0) {
                var pr = cur_news.p_news_true;
                pr.forEach(function (key, index) {
                    var id = pr[index].id.toString();
                    var value = 'true';
                    var param = {
                        'id': id,
                        'value': value,
                        'name': pr[index].name,
                        'value_name': pr[index].name_positive
                    };
                    bools[id] = param;
                });
            }
            container.html('');
            Object.keys(bools).forEach(function (key, index) {
                container.append(analytic_bool_added_render(bools[key]));
            });
            console.log(bools)
        }

        function cleanup_analytics() {
            nums = {};
            bools = {};
            lists = {};
            $('#analytic_num_added').html('');
            $('#analytic_list_added').html('');
            $('#analytic_bool_added').html('');
        }


        $('.collapse-a').on('click', function (e) {
            e.preventDefault();
            var a = $(this);

            var body = a.closest('.panel-heading').next('.panel-collapse');

            body.collapse('toggle')
        });

        $('.js-news-update').on('click', function () {
            event.preventDefault();
            var f = $(this).closest('form');
            var d = f.serializeObject();
            d.nums = JSON.stringify(Object.values(nums));
            d.bools = JSON.stringify(Object.values(bools));
            d.lists = JSON.stringify(Object.values(lists));
            return $.ajax({
                dataType: "json",
                url: "/api/news/update/" + cur_news.id + "/",
                type: "put",
                data: d,
                error: function (data) {
                    alert('Ошибка сохранения новости \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                },
                success: function (data) {
                    {#                    todo если проект изменен то убрать из таблицы, иначе обновить#}
                    alert('Новость обновлена');
                    var table_to = window['jt_' + data.project.id];
                    var n_id = data.id;
                    var row = table_to.row('#' + n_id);
                    if (cur_news.project.id != data.project.id) {
                        var table_from = window['jt_' + cur_news.project.id];
                        var n_id_from = cur_news.id;
                        var row_from = table_from.row('#' + n_id_from);
                        row_from.remove().draw()
                        table_to.row.add(data).draw();
                    } else {
                        row.data(data);
                    }
                    var r = $('tr', '#' + data.id);
                    if (data.status) {
                        r.prevObject['0'].style.color = data.status.color;
                        if (data.status.bold) {
                            r.prevObject['0'].style.fontWeight = "bold";
                        }
                    }
                    if (data.tonality) {
                        r.prevObject['0'].style.backgroundColor = data.tonality.color;
                    }

                }
            })
        });

        function source_render(source) {
            var tpl = '<option value="' + source.id + '">' + source.name + '</option>'
            return tpl
        }

        function project_render(project) {
            var tpl = '<option value="' + project.id + '">' + project.name + '</option>'
            return tpl
        }

        function theme_render(theme, c_news) {
            var selected = '';
            if (c_news) {
                if (c_news.theme_set) {
                    if (c_news.theme_set.length > 0) {
                        if (theme.id == c_news.theme_set[0].id) {
                            selected = 'selected'
                        } else {
                            selected = ''
                        }
                    }
                }
            }
            var tpl = '<option ' + selected + ' value="' + theme.id + '">' + theme.name + '</option>';
            return tpl
        }

        function rubric_render(rubric, c_news) {
            var selected = '';
            if (c_news) {
                if (c_news.rubric_set) {
                    if (rubric.id == c_news.rubric_set[0].id) {
                        selected = 'selected'
                    } else {
                        selected = ''
                    }
                }
            }
            var tpl = '<option ' + selected + ' value="' + rubric.id + '">' + rubric.name + '</option>'
            return tpl
        }

        function status_render(status, c_news) {
            var checked = '';
            if (c_news) {
                if (c_news.status) {
                    if (status.id == c_news.status.id) {
                        checked = 'checked'
                    } else {
                        checked = ''
                    }
                }

            }
            var tpl =
                '<div>'
                + '<div class="col-md-10"><input ' + checked + ' type="radio"  name="status" value="' + status.id + '">'
                + status.name
                + '</div>'
                + '<div class="col-md-2 small-text" style="background-color: ' + status.color + '"> *</div>'
                + '</div>';
            return tpl
        }

        function tonality_render(tonality, c_news) {
            var checked = '';
            if (c_news) {
                if (c_news.tonality) {
                    if (tonality.id == c_news.tonality.id) {
                        checked = 'checked'
                    } else {
                        checked = ''
                    }
                }

            }
            var tpl =
                '<div>'
                + '<div class="col-md-10"><input ' + checked + ' type="radio" name="tonality" value="' + tonality.id + '">'
                + tonality.name
                + '</div>'
                + '<div class="col-md-2 small-text" style="background-color: ' + tonality.color + '"> *</div>'
                + '</div>';
            return tpl
        }

        function analytic_num_render(analytic) {
            var tpl = '<option value="' + analytic.id + '">' + analytic.name + '</option>';
            return tpl
        }

        function analytic_num_added_render(analytic) {
            var tpl =
                '<div class="row" value=' + analytic.id + '>'
                + '<div class="col-md-7">' + analytic.name + '</div>'
                + '<div class="col-md-5">' + analytic.value + '<a class="js-remove-num" href="#">'
                + '<i class="fa fa-trash" aria-hidden="true"></i>'
                + '</a>'
                + '</div>'
                + '</div>'
            return tpl
        }

        function analytic_list_added_render(analytic) {
            var tpl =
                '<div class="row" value=' + analytic.value + '>'
                + '<div class="col-md-7">' + analytic.name + '</div>'
                + '<div class="col-md-5">' + analytic.value_name + '<a class="js-remove-list" href="#">'
                + '<i class="fa fa-trash" aria-hidden="true"></i>'
                + '</a>'
                + '</div>'
                + '</div>'
            return tpl
        }

        function analytic_bool_added_render(analytic) {
            var tpl =
                '<div class="row" value=' + analytic.id + '>'
                + '<div class="col-md-7">' + analytic.name + '</div>'
                + '<div class="col-md-5">' + analytic.value_name + '<a class="js-remove-bool" href="#">'
                + '<i class="fa fa-trash" aria-hidden="true"></i>'
                + '</a>'
                + '</div>'
                + '</div>'
            return tpl
        }

        function analytic_list_render(analytic) {
            var tpl = '<option value="' + analytic.id + '">' + analytic.name + '</option>';
            return tpl
        }

        function analytic_list_param_render(param) {
            var tpl = '<option value="' + param.id + '">' + param.name + '</option>';
            return tpl
        }

        function analytic_bool_render(analytic) {
            var tpl = '<option value="' + analytic.id + '">' + analytic.name + '</option>';
            return tpl
        }

        function analytic_bool_param_render(param) {
            var tpl = '<option value=true>' + param.name_positive + '</option>'
                + '<option value=false>' + param.name_negative + '</option>';
            return tpl
        }

        function source_get() {
            return $.ajax({
                dataType: "json",
                url: "/api/source/all/",
                type: "get",
                error: function (data) {
                    alert('Ошибка получения списка источников \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    var i = 0;
                    var html = '<option>---</option>';
                    for (i; i < data.length; i++) {
                        html += source_render(data[i])
                    }
                    $('#source_list').html(html);
                }
            })
        }

        function project_get() {
            return $.ajax({
                dataType: "json",
                url: "/api/project/all/",
                type: "get",
                error: function (data) {
                    alert('Ошибка получения списка проектов \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    var i = 0;
                    var html = '';
                    for (i; i < data.length; i++) {
                        html += project_render(data[i])
                    }
                    $('#project_list').html(html);
                    $('#project_list').trigger('change')
                }
            })
        }

        function status_get(pr_id) {
            return $.ajax({
                dataType: "json",
                url: "/api/project/" + pr_id + "/statuses/",
                type: "get",
                error: function (data) {
                    alert('Ошибка получения списка статусов \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    var i = 0;
                    var html = '';
                    for (i; i < data.length; i++) {
                        html += status_render(data[i], cur_news)
                    }
                    $('#status_list').html(html);
                }
            })
        }

        function tonality_get(pr_id) {
            return $.ajax({
                dataType: "json",
                url: "/api/project/" + pr_id + "/tonalities/",
                type: "get",
                error: function (data) {
                    alert('Ошибка получения списка статусов \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    var i = 0;
                    var html = '';
                    for (i; i < data.length; i++) {
                        html += tonality_render(data[i], cur_news)
                    }
                    $('#tonality_list').html(html);
                }
            })
        }

        function analytic_num_get(pr_id) {
            return $.ajax({
                dataType: "json",
                url: "/api/project/" + pr_id + "/analytics/num/",
                type: "get",
                error: function (data) {
                    alert('Ошибка получения списка статусов \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    var i = 0;
                    var html = '';
                    for (i; i < data.length; i++) {
                        html += analytic_num_render(data[i])
                    }
                    $('#analytic_num_list').html(html);
                }
            })
        }

        function analytic_list_get(pr_id) {

            return $.ajax({
                dataType: "json",
                url: "/api/project/" + pr_id + "/analytics/list/",
                type: "get",
                error: function (data) {
                    alert('Ошибка получения списочных аналитик \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    var i = 0;
                    var html = '';
                    for (i; i < data.length; i++) {
                        html += analytic_list_render(data[i])
                    }
                    $('#analytic_list_list').html(html);
                    $('#analytic_list_list').trigger('change');

                }
            })
        }

        function analytic_bool_get(pr_id) {

            return $.ajax({
                dataType: "json",
                url: "/api/project/" + pr_id + "/analytics/bool/",
                type: "get",
                error: function (data) {
                    alert('Ошибка получения булевых аналитик \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    var i = 0;
                    var html = '';
                    for (i; i < data.length; i++) {
                        html += analytic_bool_render(data[i])
                    }
                    $('#analytic_bool_list').html(html);
                    $('#analytic_bool_list').trigger('change');

                }
            })
        }

        {#        на изменение булевой аналитики#}
        $('.js-analytic-bool-params').on('change', function () {
            var f = $(this).closest('form');
            var d = f.serializeObject();
            var a_id = d.analytic_bool;
            return $.ajax({
                dataType: "json",
                url: "/api/analytic/bool/" + a_id + "/params/",
                type: "get",
                error: function (data) {
                    $('#analytic_bool_values_list').html('');
                    alert('Ошибка получения списка параметров \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    var html = '';
                    html += analytic_bool_param_render(data);
                    $('#analytic_bool_values_list').html(html);

                }
            });
        });

        {#        на изменение списочной аналитики#}
        $('.js-analytic-list-params').on('change', function () {
            var f = $(this).closest('form');
            var d = f.serializeObject();
            var a_id = d.analytic_list;
            return $.ajax({
                dataType: "json",
                url: "/api/analytic/list/" + a_id + "/params/",
                type: "get",
                error: function (data) {
                    $('#analytic_list_values_list').html('')
                    alert('Ошибка получения списка параметров \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    var i = 0;
                    var html = '';
                    for (i; i < data.length; i++) {
                        html += analytic_list_param_render(data[i])
                    }
                    $('#analytic_list_values_list').html(html);
                }
            });
        });

        $('.js-analytic-bool-add').on('click', function () {
            event.preventDefault();
            var f = $(this).closest('form');
            var container = $('#analytic_bool_added');
            var d = f.serializeObject();
            var value = d.analytic_bool_val;
            var id = d.analytic_bool;
            var opt = $('#analytic_bool_list > option[value=' + id + ']');
            var val_opt = $('#analytic_bool_values_list > option[value=' + value + ']');
            var name = opt.text();
            var value_name = val_opt.text();
            var param = {'id': id, 'value': value, 'value_name': value_name, 'name': name};
            bools[id] = param;
            container.html('');
            Object.keys(bools).forEach(function (key, index) {
                container.append(analytic_bool_added_render(bools[key]));
            });
            console.log(bools)
        });

        $('.js-analytic-list-add').on('click', function () {
            event.preventDefault();
            var f = $(this).closest('form');
            var container = $('#analytic_list_added');
            var d = f.serializeObject();
            var value = d.analytic_list_val;
            var id = d.analytic_list;
            var opt = $('#analytic_list_list > option[value=' + id + ']');
            var val_opt = $('#analytic_list_values_list > option[value=' + value + ']');
            var name = opt.text();
            var value_name = val_opt.text();
            var param = {'id': id, 'value': value, 'value_name': value_name, 'name': name};
            lists[value] = param;
            container.html('');
            Object.keys(lists).forEach(function (key, index) {
                container.append(analytic_list_added_render(lists[key]));
            });

        });

        $('.js-analytic-num-add').on('click', function () {
            event.preventDefault();
            var f = $(this).closest('form');
            var container = $('#analytic_num_added');
            var d = f.serializeObject();
            var value = d.analytic_num_val;
            var id = d.analytic_add_num;
            var opt = $('#analytic_num_list > option[value=' + id + ']');
            var name = opt.text();
            var param = {'id': id, 'value': value, 'name': name};
            nums[id] = param;
            container.html('');
            Object.keys(nums).forEach(function (key, index) {
                container.append(analytic_num_added_render(nums[key]));
            });
            console.log('add nums');
            console.log(nums)
        });

        {#        на изменение проекта #}
        $('.js-theme-get').on('change', function () {
            var f = $(this).closest('form');
            var d = f.serializeObject();
            var pr_id = d.project;
            console.log('duhgsdfus')
            return $.ajax({
                dataType: "json",
                url: "/api/project/" + pr_id + "/theme/all/",
                type: "get",
                error: function (data) {
                    alert('Ошибка получения списка тем \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    var i = 0;
                    var html = '<option disabled selected value >---</option>';
                    for (i; i < data.length; i++) {
                        html += theme_render(data[i], cur_news)
                    }
                    $('#theme_list').html(html);
                    $('#rubric_list').html('');
                    $('#theme_list').trigger('change');
                    {#                    todo Переделать, все параметры должны удаляться при изменении проекта #}
                    status_get(pr_id);
                    tonality_get(pr_id);
                    analytic_num_get(pr_id);
                    analytic_list_get(pr_id);
                    analytic_bool_get(pr_id);
                    cleanup_analytics();
                    if (cur_news.project.id == pr_id) {
                        render_cur_analytics()
                    }
                }
            });

        });

        {#        на исменение темы #}
        $('.js-rubric-get').on('change', function () {

            var f = $(this).closest('form');
            var d = f.serializeObject();
            var t_id = d.theme;
            return $.ajax({
                dataType: "json",
                url: "/api/theme/" + t_id + "/rubric/all/",
                type: "get",
                error: function (data) {
                    alert('Ошибка получения списка рубрик \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    var i = 0;
                    var html = '<option disabled selected value>---</option>';
                    for (i; i < data.length; i++) {
                        html += rubric_render(data[i], cur_news)
                    }
                    $('#rubric_list').html(html);
                    {#                    $('#rubric_list').trigger('change');#}
                }
            })
        });

        {# удаление числовой аналитики из списка добавленных #}
        $('#analytic_num_added').on('click', '.js-remove-num', function () {
            event.preventDefault();
            var row = $(this).closest('.row').first()[0];
            var del_id = row.attributes.value.value;
            delete nums[del_id];
            row.remove();
            console.log('nums');
            console.log(nums)
        });

        $('#analytic_list_added').on('click', '.js-remove-list', function () {
            event.preventDefault();
            var row = $(this).closest('.row').first()[0];
            var del_id = row.attributes.value.value;
            delete lists[del_id];
            row.remove();
        });

        $('#analytic_bool_added').on('click', '.js-remove-bool', function () {
            event.preventDefault();
            var row = $(this).closest('.row').first()[0];
            var del_id = row.attributes.value.value;
            delete bools[del_id];
            row.remove();
        });
            console.log('start');
            $.ajax({
                dataType: "json",
                url: "/api/news/detail/{{ news.id }}",
                type: "get",
                error: function (data) {
                    alert('Ошибка получения новости новости \n Ошибка: ' + data.responseJSON.detail)
                },
                success: function (data) {
                    cur_news = data;
                    render_cur_analytics();
                }
            }).done();
            $('#project_list').trigger('change');

    </script>
{% endblock %}