{% extends 'crowler/index.html' %}
{% block dashboard %}

    <script>
        function load_page(page, target) {
            $(target).load(page);
        }
    </script>
    {#    Инициализация    #}
    <script>
        {#    Проекты    #}
        getProjects("#projects")
    </script>
    {#    Управление    #}
    <script>

        {#    Темы    #}

        function createTheme(pr_id) {
            var name = prompt("Пожалуйста введите название Темы: ", "Название");
            if (name !== null) {
                var varData = {};
                varData['name'] = name;
                varData['p_id'] = pr_id;

                return $.ajax({
                    url: "{% url 'add_theme' %}",
                    type: "post",
                    data: varData
                });
            }
        }
        function addTheme(p_id) {
            createTheme(p_id).done(function (data) {
                // Updates the UI based the ajax result
                if (data !== 'FAIL') {
                    console.log(data);
                    $("#themes_" + p_id).append(data);
                }

            });
        }


        function renameTheme(id) {
            var t_name = prompt("Пожалуйста введите новое название темы: ");

            function rename(name, t_id) {
                if (name !== null) {
                    var varData = {};
                    varData['name'] = name;
                    varData['t_id'] = t_id;
                    return $.ajax({
                        url: "{% url 'rename_theme' %}",
                        type: "post",
                        data: varData
                    });
                }
            }

            rename(t_name, id).done(function (data) {
                // Updates the UI based the ajax result
                if (data !== 'FAIL') {
                    console.log(data);
                    $("#theme_name_a_" + id).text(t_name);
                }

            });


        }
        {#    Рубрики    #}

        function createRubric(t_id) {
            var name = prompt("Пожалуйста введите название Рубрики: ", "Название");
            if (name !== null) {
                var varData = {};
                varData['name'] = name;
                varData['t_id'] = t_id;

                return $.ajax({
                    url: "{% url 'add_rubric' %}",
                    type: "post",
                    data: varData
                });
            }
        }
        function addRubric(t_id) {
            createRubric(t_id).done(function (data) {
                // Updates the UI based the ajax result
                if (data !== 'FAIL') {
                    console.log(data);
                    $("#rubrics_body_" + t_id).append(data);
                }
            });
        }

        function renameRubric(id) {
            var r_name = prompt("Пожалуйста введите новое название рубрики: ");

            function rename(name, r_id) {
                if (name !== null) {
                    var varData = {};
                    varData['name'] = name;
                    varData['r_id'] = r_id;
                    return $.ajax({
                        url: "{% url 'rename_rubric' %}",
                        type: "post",
                        data: varData
                    });
                }
            }

            rename(r_name, id).done(function (data) {
                // Updates the UI based the ajax result
                if (data !== 'FAIL') {
                    console.log(data);
                    $("#rubric_name_a_" + id).text(r_name);
                }
            });
        }
    </script>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Проекты
                        <small>Созданние, изменение</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-globe"></i> Проекты
                        </li>
                    </ol>
                </div>
            </div>
            <a href="#" onclick="addProject('#projects')">
                <i class="fa fa-plus" aria-hidden="true"></i> Создать новый проект
            </a>
            <div id="projects">

            </div>
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true" >
                <div class="modal-dialog" role="document" style="width: 90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_title">Создание новости</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modal_body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.container-fluid -->

        </div>
    </div>
{% endblock %}