{% block project_news_detail_row %}
    <div class="row" style="max-width: 1024px">
        <div class="col-md-8">
            <form>
                <input id="id_news" name="news" type="hidden" value="{{ news.id }}">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="col-md-12">
                    Заголовок:
                    <textarea id="id_title" style="width: inherit" name="title" rows="2">{{ news.title }}</textarea>
                </div>
                <div class="col-md-12">
                    Аннотация:
                    <textarea type="text" id="id_annotation" style="width: inherit" name="annotation" rows="2">{{ news.annotation }}</textarea>
                </div>
                <div class="col-md-12">
                    Текст:
                    <textarea type="text" id="id_text" style="width: inherit" name="text" rows="5">{{ news.text }}</textarea>
                </div>
                <div align="right">
                    <input type="submit" class="btn btn-xs btn-danger js-news-update-min" value="Сохранить">
                </div>
            </form>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default ">
                <div class="panel-heading"><a class="collapse-a" href="#">Статус:</a></div>
                <div class="panel-collapse collapse">
                    <div class="panel-body">
                        <form>
                            <input id="id_news" name="news" type="hidden" value="{{ news.id }}">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                            {% for status in project.statuses.all %}
                                <div>
                                    <div class="col-md-10"><input type="radio" name="id_status" value="{{ status.id }}"
                                                                  {% if news.status.id == status.id %}checked{% endif %}
                                    >
                                        {{ status.name }}</div>
                                    <div class="col-md-2 small-text" style="background-color: {{ status.color }}"> *</div>
                                </div>
                            {% endfor %}
                            <div align="right">
                                <input type="submit" class="btn btn-xs btn-danger js-news-update-min" value="Сохранить">
                            </div>
                        </form>
                        <script>
                            $('.js-news-update-status').on('click', function () {
                                event.preventDefault();
                                var f = $(this).closest('form');
                                console.log(f.serializeObject());
                                var d = f.serializeObject();
                                return $.ajax({
                                    dataType: "json",
                                    url: "/api/news/min/update/",
                                    type: "put",
                                    data: d,
                                    error: function (data) {
                                        alert('Ошибка сохранения новости \n Ошибка: ' + data.responseJSON.detail)
                                    },
                                    beforeSend: function (xhr) {
                                        xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                                    },
                                    success: function (data) {
                                        alert('Новость сохранена');
                                        console.log(data);
                                        {#                            todo обновить тайтл в таблице#}
                                        console.log(data)

                                    }
                                })

                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><a class="collapse-a" href="#">Тональность:</a></div>
                <div class="panel-collapse collapse">
                    <div class="panel-body">
                        <form>
                            <input id="id_news" name="news" type="hidden" value="{{ news.id }}">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            {% for tonality in project.tonalities.all %}
                                <div>
                                    <div class="col-md-10"><input type="radio" name="id_tonality" value="{{ tonality.id }}"
                                            {% if news.tonality.id == tonality.id %}
                                                                  checked
                                            {% endif %}
                                    >
                                        {{ tonality.name }}
                                    </div>
                                    <div class="col-md-2 small-text" style="background-color: {{ tonality.color }}"> *</div>
                                </div>
                            {% endfor %}
                            <div align="right">
                                <input type="submit" class="btn btn-xs btn-danger js-news-update-min" value="Сохранить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.collapse-a').on('click', function (e) {
            e.preventDefault();
            var a = $(this);
{#            console.log(a);#}
            var body = a.closest('.panel-heading').next('.panel-collapse');
{#            console.log(body);#}
            body.collapse('toggle')
        });

        $('.js-news-update-min').on('click', function () {
            event.preventDefault();
            var f = $(this).closest('form');
            var d = f.serializeObject();
            return $.ajax({
                dataType: "json",
                url: "/api/news/min/update/",
                type: "put",
                data: d,
                error: function (data) {
                    alert('Ошибка сохранения новости \n Ошибка: ' + data.responseJSON.detail)
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', d.csrfmiddlewaretoken)
                },
                success: function (data) {
                    alert('Новость сохранена');
                    var n_id = data.id;
                    var row = jt_{{ project.id }}.row('#' + n_id);
                    row.data(data);
                    var r = $('tr', '#' + data.id);
                    if (data.status) {
                        r.prevObject['0'].style.color = data.status.color;
                        if (data.status.bold) {
                            r.prevObject['0'].style.fontWeight = "bold";
                        }
                    }
                    if (data.tonality){
                        r.prevObject['0'].style.backgroundColor = data.tonality.color;
                    }
                }
            })
        });
    </script>
{% endblock %}