{% block rubrics_detail %}

    <!-- Рубрики -->


    {% for rubric in rubrics %}
        <div id="rubric_panel_{{ rubric.id }}" class="panel panel-success">
            <div class="panel-heading">

                <div class="col-md-8">
                    <a data-toggle="collapse" id="rubric_name_a_{{ rubric.id }}"
                       href="#rubric_{{ rubric.id }}">{{ rubric.name }}</a>

                </div>
                <div align="right">
                    <button class="btn btn-danger btn-xs"
                            onclick="del_object('/projects/rubrics/del_one/{{ rubric.id }}', '#rubric_panel_{{ rubric.id }}')">
                        Удалить
                    </button>
                </div>
            </div>

            <div id="rubric_{{ rubric.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="#" onclick="renameRubric({{ rubric.id }})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Переименовать рубрику</a>
                </div>
            </div>
        </div>
    {% endfor %}






{% endblock %}