{% block themes_detail %}


    {% for theme in themes %}
        <div id="theme_panel_{{ theme.id }}" class="panel panel-success">
            <div class="panel-heading">
                <div class=" col-md-9">
                    <a data-toggle="collapse" id="theme_name_a_{{ theme.id }}"
                       href="#theme_{{ theme.id }}">{{ theme.name }}</a>

                </div>

                <div align="right">
                    <button class="btn btn-danger btn-xs"
                            onclick="del_object('/projects/themes/del_one/{{ theme.id }}', '#theme_panel_{{ theme.id }}')">
                        Удалить тему
                    </button>
                </div>
            </div>
            <div id="theme_{{ theme.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">

                        <a href="#" onclick="renameTheme({{ theme.id }})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Переименовать тему</a>
                    </div>
                    <hr>
                    <!-- Рубрики -->

                    <div class="col-md-6 small-text" id="rubrics_{{ theme.id }}">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">Рубрики</h3>
                            </div>
                            <div id="rubrics_body_{{ theme.id }}" class="panel-body">
                                <a id="href_rubric_crete_{{ theme.id }}" href="#theme_name_{{ theme.id }}" onclick="addRubric({{ theme.id }})">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Создать новую рубрику
                                </a>
                                <div id="rubrics_body_l_{{ theme.id }}"></div>

                            </div>
                        </div>
                    </div>
                    <script>
                        getRubrics({{ theme.id }}, "#rubrics_body_l_{{ theme.id }}")
                    </script>
                </div>
            </div>
        </div>
    {% endfor %}




{% endblock %}