{% extends 'crowler/index.html' %}
{% block dashboard %}

{#    <script>#}
{##}
{#        function load_page(page) {#}
{#            $("#forms_body").load(page);#}
{#        }#}
{#    </script>#}
        <script>

        function load_page(page, target) {
            $(target).load(page);
        }
    </script>
    <script>
        function del_object(url, row_id) {
            $.get(url)
                .done(function () {
                    $(row_id).hide();
                })
                .fail(function () {
                    alert('Ошибка удаления, обновите страницу!')

                })
        }
    </script>
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Работа с источниками
                        <small>Созданние, изменение</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-globe"></i> Источники
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->


            <div class="row">
                <!-- Источники -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>Источники</h3>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'sourcefull_form' %}', '#forms_body')">Добавить
                            </button>
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'sourcefull_list' %}', '#forms_body')">Посмотреть все
                            </button>
                        </div>
                    </div>
                </div>
                <!-- ГеоГруппы -->
                <div class="col-lg-3">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>ГЕО группы</h3>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'geogroup_form' %}', '#forms_body')">Добавить
                            </button>
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'geogroup_list' %}'), '#forms_body'">Посмотреть все
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Типы СМИ -->
                <div class="col-lg-3">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>Типы СМИ</h3>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'smitype_form' %}', '#forms_body')">Добавить
                            </button>
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'smitype_list' %}', '#forms_body')">Посмотреть все
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Типы локации -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>Типы локации</h3>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'locationtype_form' %}', '#forms_body')">Добавить
                            </button>
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'locationtype_list' %}', '#forms_body')">Посмотреть все
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Отрасли -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>Отрасли</h3>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'industry_form' %}', '#forms_body')">Добавить
                            </button>
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'industry_list' %}', '#forms_body')">Посмотреть все
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Уровни покрытия -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>Уровни покрытия</h3>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'coveragelevel_form' %}', '#forms_body')">Добавить
                            </button>
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'coveragelevel_list' %}', '#forms_body')">Посмотреть все
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Языки -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>Языки</h3>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'language_form' %}', '#forms_body')">Добавить
                            </button>
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'language_list' %}', '#forms_body')">Посмотреть все
                            </button>
                        </div>
                    </div>

                </div>
                <!-- Локации -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>Локации</h3>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'location_form' %}', '#forms_body')">Добавить
                            </button>
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'location_list' %}', '#forms_body')">Посмотреть все
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Сохраненные запросы -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>Сохраненные запросы</h3>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn-xs btn-info" data-toggle="modal" data-target="#myModal"
                                    onclick="load_page('{% url 'sourcequery_list' %}', '#forms_body')">Посмотреть все
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Список Добавленных источников -->
            <hr>
            <div class="row">
                <div align="right">

                    <button type="button" class="btn-sm btn-info" onclick="load_page('{% url 'sourcefull_list' %}', '#all_sources_list')">Обновить</button>
                </div>

                <div id="all_sources_list">


                </div>
            </div>
            <script>
                load_page('{% url 'sourcefull_list' %}', '#all_sources_list')
            </script>


        </div>

        <div class="row">
            <div id="myModal" class="col-lg-12 modal fade">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i></h3>
                    </div>
    <button type="button" class="btn-sm btn-danger" data-dismiss="modal">Закрыть</button>

                    <div id="forms_body" class="panel-body">


                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
    </div>
{% endblock %}