{% block geogroup_list %}
{#    <button type="button" class="btn-sm btn-danger" data-dismiss="modal">Закрыть</button>#}
    <button type="button" class="btn-sm btn-info" onclick="load_page('{% url 'geogroup_list' %}', '#forms_body')">Обновить</button>
    <div align="center">
        <h3>ГЕО группы</h3>
    </div>
    <table id="data-table" class="table table-responsive">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описани</th>
            <th>Локации входящие в состав</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for group in object_list %}
            <tr id="row_{{ group.id }}">
                <td>{{ group.name }}</td>
                <td>{{ group.description }}</td>
                <td>
                    {% for location in group.locations.values %}
                        {{ location.name }} |
                    {% endfor %}
                </td>
                <td>
                    <a target="_blank" type="button" class="btn btn-xs btn-info"
                       href="geogroup_update_form/{{ group.id }}/">
                        Изменить
                    </a>
                </td>
                <td>
                    <button type="button" class="btn-xs btn-danger"
                            onclick="del_object('geogroup_delete/{{ group.id }}/','#row_{{ group.id }}' )">Удалить
                    </button>
                </td>
            </tr>

        {% endfor %}


        </tbody>
    </table>

    <script>
        $('#data-table').DataTable();
    </script>
{% endblock %}