{% block industry_list %}
{#    <button type="button" class="btn-sm btn-danger" data-dismiss="modal">Закрыть</button>#}
    <button type="button" class="btn-sm btn-info" onclick="load_page('{% url 'industry_list' %}', '#forms_body')">Обновить</button>
    <div align="center">
        <h3>Отрасли</h3>
    </div>
    <table id="data-table" class="table table-responsive">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описани</th>
                        <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for industry in object_list %}
            <tr id="row_{{ industry.id }}">
                <td>{{ industry.name }}</td>
                <td>{{ industry.description }}</td>
                <td>
                    <a target="_blank" type="button" class="btn btn-xs btn-info"
                       href="industry_update_form/{{ industry.id }}/">
                        Изменить
                    </a>
                </td>
                <td>
                    <button type="button" class="btn-xs btn-danger"
                            onclick="del_object('industry_delete/{{ industry.id }}/','#row_{{ industry.id }}' )">Удалить
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $('#data-table').DataTable();
    </script>
{% endblock %}