{% block language_list %}
{#    <button type="button" class="btn-sm btn-danger" data-dismiss="modal">Закрыть</button>#}
    <button type="button" class="btn-sm btn-info" onclick="load_page('{% url 'language_list' %}', '#forms_body')">Обновить</button>
    <div align="center">
        <h3>Языки</h3>
    </div>
    <table id="data-table" class="table table-responsive">
        <thead>
        <tr>
            <th>Название</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for lang in object_list %}
            <tr id="row_{{ lang.id }}">
                <td>{{ lang.name }}</td>
                <td>
                    <a target="_blank" type="button" class="btn btn-xs btn-info"
                       href="language_update_form/{{ lang.id }}/">
                        Изменить
                    </a>
                </td>
                <td>
                    <button type="button" class="btn-xs btn-danger"
                            onclick="del_object('language_delete/{{ lang.id }}/','#row_{{ lang.id }}' )">Удалить
                    </button>
                </td>
            </tr>

        {% endfor %}


        </tbody>
    </table>

    <script>
        $('#data-table').DataTable();
    </script>
{% endblock %}