{% block location_list %}
{#    <button type="button" class="btn-sm btn-danger" data-dismiss="modal">Закрыть</button>#}
    <button type="button" class="btn-sm btn-info" onclick="load_page('{% url 'location_list' %}', '#forms_body')">Обновить</button>
    <div align="center">
        <h3>Локации</h3>
    </div>
    <table id="data-table" class="table table-responsive">
        <thead>
        <tr>
            <th>Кореневая локация</th>
            <th>Название</th>
            <th>Тип</th>
            <th>Полное название</th>
            <th>ГЕО группы</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for location in object_list %}
            <tr id="row_{{ location.id }}">
                <td>{{ location.father_location.name }}</td>
                <td>{{ location.name }}</td>
                <td>{{ location.location_type }}</td>
                <td>{{ location.full_name }}</td>
                <td>
                    {% for group in location.geo_group.values %}
                        {{ group.name }}
                    {% endfor %}
                </td>
                <td>
                    <a target="_blank" type="button" class="btn btn-xs btn-info"
                       href="location_update_form/{{ location.id }}/">
                        Изменить
                    </a>
                </td>
                <td>
                    <button type="button" class="btn-xs btn-danger"
                            onclick="del_object('location_delete/{{ location.id }}/','#row_{{ location.id }}' )">Удалить
                    </button>
                </td>
            </tr>

        {% endfor %}


        </tbody>
    </table>

    <script>
        $('#data-table').DataTable();
    </script>
{% endblock %}