{% block smitype_list %}
{#    <button type="button" class="btn-sm btn-danger" data-dismiss="modal">Закрыть</button>#}
    <button type="button" class="btn-sm btn-info" onclick="load_page('{% url 'smitype_list' %}', '#forms_body')">Обновить</button>
    <div align="center">
        <h3>Типы СМИ</h3>
    </div>
    <table id="data-table" class="table table-responsive">
        <thead>
        <tr>
            <th>Название</th>
            <th>Изменить</th>
            <th>Удалить</th>

        </tr>
        </thead>
        <tbody>
        {% for type in object_list %}
            <tr id="row_{{ type.id }}">
                <td>{{ type.name }}</td>

            <td>
                <a target="_blank" type="button" class="btn btn-xs btn-info"
                   href="smitype_update_form/{{ type.id }}/">
                    Изменить
                </a>
            </td>
            <td>
                <button type="button" class="btn-xs btn-danger"
                        onclick="del_object('smitype_delete/{{ type.id }}/','#row_{{ type.id }}' )">Удалить
                </button>
            </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>

    <script>
        $('#data-table').DataTable();
    </script>
{% endblock %}