{% block update_form %}
    <div align="center">
    <h3>Изменение обЪекта</h3>
    </div>
    <form id="form" action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Сохранить"/>
    </form>
{% endblock %}