{% extends 'crowler/index.html' %}
{% block dashboard %}
            {% load helpers %}
{% datte_now 'dashboard' %}
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Панель статистики
                        <small>Основные сведения</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Панель статистики
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <!-- XML and stats -->
            <div class="row">
                <div class="col-lg-6">

                    {% include 'crowler/dashboard/news_stats.html' %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-angle-double-down fa-fw"></i>Ручные выгрузки</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">

                                <div class="list-group-item">

                                    <i class="fa fa-fw fa-globe"></i> Настройте параметры выгрузки
                                    <form method="POST" action="{% url 'xml_manual' %}" enctype="multipart/form-data" target="_blank">
                                        {% csrf_token %}
                                        Только не выгруженные: {{ get_xml_form.only_unloaded }} <br>
                                        Использовать параметр "Начало периода": {{ get_xml_form.start_param }}<br>
                                        Начало периода: {{ get_xml_form.date_start }} <br>
                                        Использовать параметр "Конец периода": {{ get_xml_form.end_param }}<br>
                                        Конец периода: {{ get_xml_form.date_end }} <br>
                                        <input type="submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    {#                    ручное сканирование#}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-angle-double-down fa-fw"></i>Ручное сканирование
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">

                                    <i class="fa fa-fw fa-globe"></i> Сканировать
                                    <form method="post" action={% url 'hand_scan' %} enctype="multipart/form-data"
                                          target="_blank">
                                        {% csrf_token %}
                                        Начало периода: {{ get_news_form.date_start }} <br>
                                        Конец периода: {{ get_news_form.date_end }} <br>
                                        Источник {{ get_news_form.source }} <br>
                                        <input type="submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#                </div>#}

                </div>
                <!-- Last news -->
                {% datte_now 'Last news' %}

                <div class="col-lg-6">
                    {% include 'crowler/dashboard/last_news.html' %}

                </div>
                                {% datte_now ' end Last news' %}

            </div>
            <!-- /.row -->

            <div class="row">

                <!-- Last news -->
                <div class="col-lg-6">

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
{% datte_now ' end dashboard' %}

{% endblock %}