{% extends 'crowler/index.html' %}
{% block dashboard %}
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Панель статистики
                        <small>Основные сведения</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Панель статистики
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <!-- XML and stats -->
            <div class="row">
                <div class="col-lg-6">
                    {% include 'crowler/dashboard/news_stats.html' %}
{#                    <div class="col-lg-6">#}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-angle-double-down fa-fw"></i>Ручное сканирование</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">

                                    <i class="fa fa-fw fa-globe"></i> Сканировать
                                    <form method="post" action={% url 'hand_scan' %} enctype="multipart/form-data" target="_blank">
                                        {% csrf_token %}
                                        Начало периода: {{ get_news_form.date_start }} <br>
                                        Конец периода: {{ get_news_form.date_end }} <br>
                                        Источник {{ get_news_form.source }} <br>
                                        <input type="submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
{#                </div>#}

                </div>
                <!-- Last news -->
                <div class="col-lg-6">
                    {% include 'crowler/dashboard/last_news.html' %}

                </div>
            </div>
            <!-- /.row -->

            <div class="row">

                <!-- Last news -->
                <div class="col-lg-6">

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
{% endblock %}