{% block last_news %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-paper-plane fa-fw"></i>Последние новости</h3>
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-bordered table-hover table-striped table-fixed">
                    <thead>
                    <tr>
                        <th>Исочник</th>
                        <th>Заголовок</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for n in news_last %}
                        <tr>
                            <td>{{ n.source.name }}</td>
                            <td>
                                <a href={{ n.url }} target="_blank">
                                    {{ n.title }} {{ n.date_post }}
                                </a>
                            </td>

                        </tr>

                    {% endfor %}


                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <a href="#">Посмотреть все новости <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>


{% endblock %}