{% block news_stats %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bookmark fa-fw"></i>Новости</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <div class="list-group-item">
                    <a class="badge" href={% url 'xml_news_today' %}>
                        XML<i class="fa fa-arrow-circle-right"></i>
                    </a>
                    <span class="badge">{{ news_today }}</span>
                    <i class="fa fa-fw fa-globe"></i> Собрано новостей за текущие сутки
                </div>

                <div class="list-group-item">
                    <a class="badge" href={% url 'xml_news_yesterday' %}>
                        XML<i class="fa fa-arrow-circle-right"></i>
                    </a>
                    <span class="badge">{{ news_yesterday }}</span>
                    <i class="fa fa-fw fa-globe"></i> Собрано новостей за предыдущие сутки
                </div>

                <div class="list-group-item">
                    <span class="badge">{{ sources }}</span>
                    <i class="fa fa-fw fa-globe"></i> Всего источников
                </div>

                <div class="list-group-item">
                    <a class="badge" href={% url 'xml_news_all' %}>
                        XML<i class="fa fa-arrow-circle-right"></i>
                    </a>
                    <span class="badge">{{ news_all }}</span>
                    <i class="fa fa-fw fa-globe"></i> Всего новостей в базе
                </div>

                <div class="list-group-item">
                    <a class="badge" href={% url 'xml_news_not_unloaded' %}>
                        XML <i class="fa fa-arrow-circle-right"></i>
                    </a>
                    <span class="badge">{{ news_not_unloaded }}</span>
                    <i class="fa fa-fw fa-globe"></i> Новостей не выгружено
                </div>

            </div>
        </div>
    </div>

{% endblock %}